/* 交易中的订单样式重写 */
/* 1.0付款方式下拉框 */
.fiat-trading-order-box.personal .el-input--suffix .el-input__inner{
  height: 26px;
  width: 150px;
}
.fiat-trading-order-box.personal .el-input__inner{
  border:none;
  padding: 0 30px;
}
.fiat-trading-order-box.personal .el-select-dropdown{
  border:none;
}
.fiat-trading-order-box.personal .el-select-dropdown__item {
  height: 30px !important;
  line-height: 30px !important;
}
/* 2.0按钮样式 */
.fiat-trading-order-box.personal .el-button--mini{
  padding: 3px 10px;
}
/* 3.0 订单申诉 */
.fiat-trading-order-box.personal .el-textarea{
  width: 540px;
}
.fiat-trading-order-box.personal .el-textarea__inner{
  height: 90px;
  font-size: 14px;
  resize: none;
}
/* 4.0 扫码付款按钮及弹窗支付宝和微信图片*/
.fiat-trading-order-box.personal .bank-info-picture .el-button{
  padding: 2px 6px;
}
/* 输入密码弹出框 */
.fiat-trading-order-box.personal .password-dialog .el-dialog{
  border-radius: 4px;
  width: 350px;
  height: 207px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__header{
  padding: 10px 20px 10px;
  border-radius: 4px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__title{
  font-size: 14px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__headerbtn{
  top: 15px;
  right: 10px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body{
  font-size: 12px;
  padding: 15px 20px 10px 30px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body .input{
  margin-top: 13px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body .password-input{
  display: inline-block;
  width: 280px;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 10px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body .error-info{
  font-size: 12px;
  height: 20px;
  padding-top: 5px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__footer{
  text-align: center;
  padding: 0;
}
.fiat-trading-order-box.personal .el-button{
  min-width: 70px;
  height: 22px;
  border:0;
}
.fiat-trading-order-box.personal .password-dialog .el-button--primary{
  background:linear-gradient(9deg,rgba(43,57,110,1),rgba(42,80,130,1));
}
.fiat-trading-order-box.personal .bank-info-picture .el-button {
  float: right;
}
