.fiat-entrust-order-box.personal .el-button {
  min-width: 60px !important;
  height: 26px !important;
  margin: 0;
  font-size: 14px;
}

.fiat-entrust-order-box.personal .fiat-entrust-order-table > .entrust-table-head {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fiat-entrust-order-box .el-button {
  line-height: 0;
}
