.fiat-entrust-order-box.personal.personal.day .el-button {
  width: 60px;
  height: 30px;
  font-size: 14px;
  margin: 0;
}
.fiat-entrust-order-box.personal.day .fiat-entrust-order-table > .entrust-table-head[data-v-3d9fb05c]{
  background-color: #fff;
  color: #617499;
  border: 1px solid #ECF1F8;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fiat-entrust-order-box.personal.day .fiat-entrust-order-table > .entrust-table-head > .item[data-v-3d9fb05c]{
  border-right:1px solid #ECF1F8;
}
.fiat-entrust-order-box.personal.day .fiat-entrust-order-table > .entrust-table-body > .no-data[data-v-3d9fb05c]{
  background-color:#fff; 
  color: #909399;  
}
.fiat-entrust-order-box.personal.day .fiat-entrust-order-table > .entrust-table-body[data-v-3d9fb05c]{
  background-color: #fff;
  border: 1px solid #ECF1F8;
}