/* 交易中的订单样式重写 */

/* 1.0付款方式下拉框 */
.fiat-canceled-order-box.personal .el-input--suffix .el-input__inner {
  width: 170px;
  height: 26px;
}

.fiat-canceled-order-box.personal .el-input__inner {
  padding: 0 30px !important;
  border: none;
}

.fiat-canceled-order-box.personal .el-select-dropdown {
  border: none;
}

.fiat-canceled-order-box.personal .el-select-dropdown__item {
  height: 30px !important;
  line-height: 30px !important;
}

/* 2.0按钮样式 */
.fiat-canceled-order-box.personal .el-button--mini {
  padding: 3px 10px;
}

/* 3.0 订单申诉 */
.fiat-canceled-order-box.personal .el-textarea {
  width: 540px;
}

.fiat-canceled-order-box.personal .el-textarea__inner {
  height: 90px;
  resize: none;
  font-size: 14px;
}

/* 4.0 扫码付款按钮及弹窗支付宝和微信图片 */
.fiat-canceled-order-box.personal .bank-info-picture .el-button {
  padding: 2px 6px;
}

/* 输入密码弹出框 */
.fiat-canceled-order-box.personal .password-dialog .el-dialog {
  width: 350px;
  height: 207px;
  border-radius: 4px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__header {
  padding: 10px 20px;
  border-radius: 4px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__title {
  font-size: 14px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__headerbtn {
  top: 15px;
  right: 10px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__body {
  padding: 15px 20px 10px 30px;
  font-size: 12px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__body .input {
  margin-top: 13px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__body .password-input {
  display: inline-block;
  width: 280px;
  height: 36px;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__body .error-info {
  height: 20px;
  padding-top: 5px;
  font-size: 12px;
}

.fiat-canceled-order-box.personal .password-dialog .el-dialog__footer {
  padding: 0;
  text-align: center;
}

.fiat-canceled-order-box.personal .password-dialog .el-button {
  width: 290px;
  padding: 7px 20px;
  border: 0;
}
