/* 交易中的订单样式重写 */
/* 1.0付款方式下拉框 */
.fiat-trading-order-box.personal .el-input--suffix .el-input__inner{
  height: 26px;
  width: 170px;
}
.fiat-trading-order-box.personal .el-input__inner{
  background-color: #303B45;
  border:none;
  color: #9DA5B3;
  padding: 0 30px;
}
.fiat-trading-order-box.personal .el-select-dropdown{
  background-color: #29343F;
  border:none;
}
.fiat-trading-order-box.personal .el-select-dropdown__item.selected{
  color: #338FF5;
}
.fiat-trading-order-box.personal .el-select-dropdown__item {
  height: 30px !important;
  line-height: 30px !important;
}
.fiat-trading-order-box.personal .el-select-dropdown__item:hover {
  background-color: #29343F;
}
.fiat-trading-order-box.personal .el-select-dropdown__item.hover{
  background-color: #29343F;
  color: #338FF5;
}
.fiat-trading-order-box.personal .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #29343F;
}
.fiat-trading-order-box.personal .el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #29343F;
}
/* 2.0按钮样式 */
.fiat-trading-order-box.personal .el-button--mini{
  padding: 3px 10px;
}
/* 3.0 订单申诉 */
.fiat-trading-order-box.personal .el-textarea{
  width: 540px;
}
.fiat-trading-order-box.personal .el-textarea__inner{
  background-color: #1E2636;
  border: 1px solid #7587A5;
  height: 90px;
  font-size: 14px;
  resize: none;
}
/* 4.0 扫码付款按钮及弹窗支付宝和微信图片*/
.fiat-trading-order-box.personal .bank-info-picture .el-button{
  color: #fff;
  background-color: #409EFF;
  border-color: #409EFF;
  padding: 2px 6px;
}
.fiat-trading-order-box.personal .bank-info-picture .el-button:hover{
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
/* .fiat-trading-order-box .bank-info-picture .el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #fff;
} */
/* .fiat-trading-order-box .bank-info-picture .el-popper[x-placement^=bottom]{
    margin-top: 6px;
} */
/* .fiat-trading-order-box .el-popover{
    padding: 4px !important;
}  */
/* 输入密码弹出框 */
.fiat-trading-order-box.personal .password-dialog .el-dialog{
  border-radius: 4px;
  width: 350px;
  height: 207px;
  background: #28334A;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__header{
  background-color:#20293C;
  padding: 10px 20px 10px;
  border-radius: 4px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__title{
  color: #fff;
  font-size: 14px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__headerbtn{
  top: 15px;
  right: 10px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body{
  color: #fff;
  font-size: 12px;
  padding: 15px 20px 10px 30px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body .input{
  margin-top: 13px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body .password-input{
  display: inline-block;
  width: 280px;
  height: 36px;
  background-color: #1A2233;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__body .error-info{
  color: #fff;
  font-size: 12px;
  height: 20px;
  padding-top: 5px;
}
.fiat-trading-order-box.personal .password-dialog .el-dialog__footer{
  text-align: center;
  padding: 0;
}
.fiat-trading-order-box.personal .password-dialog .el-button{
  width: 290px;
  padding: 7px 20px;
  border:0;
}
.fiat-trading-order-box.personal .password-dialog .el-button--primary{
  background:linear-gradient(9deg,rgba(43,57,110,1),rgba(42,80,130,1));
}
.fiat-trading-order-box > .fiat-trading-order-content > .order-list[data-v-05038240]{
  
}


