.api-management.personal.night .el-form-item__label {
  color: #B8BDD0;
}
.api-management.personal.night .el-table th, .el-table tr{
  background-color: #1E2636;
}
.api-management.personal.night .el-table thead {
  color: #617499;
}

.api-management.personal.night .el-table td{
  color: #ccc;
}
.api-management.personal.night .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #1E2636;
}
.api-management.personal .el-dialog {
  background-color: #28334A;
  border-radius: 5px;
}
.api-management.personal .el-dialog__header {
  background-color: #20293C;
}
.api-management.personal .el-dialog__title {
  color: #fff;
}
