.api-management.personal.night .el-form-item__label {
  color: #b8bdd0;
}

.api-management.personal.night .el-table th,
.api-management.personal.night .el-table tr {
  background-color: #1c1f32;
}

.api-management.personal.night .el-table thead {
  color: #617499;
}

.api-management.personal.night .el-table td {
  background-color: #1c1f32;
}

.api-management.personal.night .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #1c1f32;
}

.api-management.personal.night .el-dialog {
  border-radius: 5px;
  background-color: #28334a;
}

.api-management.personal.night .el-button:first-child {
  color: rgba(255, 255, 255, .7);
  background: linear-gradient(81deg, rgba(43, 57, 110, 1) 0%, rgba(42, 80, 130, 1) 100%);
}

.api-management.personal.night .el-dialog__title {
  color: #fff;
}

.api-management.personal.night .el-table__empty-block {
  background-color: #1c1f32;
}

.api-management.personal.night .el-table th > .cell {
  color: #9da5b3;
}

.api-management.personal.night .el-table td div {
  color: #9da5b3;
}

.api-management.personal.night .el-dialog__header {
  background: rgba(32, 41, 60, 1);
}

.api-management.personal.night .el-table th.is-leaf {
  border-top: 0;
}
