.api-management.personal.night .el-form-item__label {
  color: #B8BDD0;
}
.api-management.personal.night .el-table th,
.api-management.personal.night .el-table tr{
  background-color: #1E2636;
}
.api-management.personal.night .el-table thead {
  color: #617499;
}

.api-management.personal.night .el-table td{
  background-color: #1E2636;
}
.api-management.personal.night .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #1E2636;
}
.api-management.personal.night .el-dialog {
  background-color: #28334A;
  border-radius: 5px;
}
.api-management.personal.night .el-button:first-child {
  color: rgba(255,255,255,0.7);
  background:linear-gradient(81deg,rgba(43,57,110,1) 0%,rgba(42,80,130,1) 100%);
}
.api-management.personal.night .el-dialog__title {
  color: #fff;
}
.api-management.personal.night .el-table__empty-block {
  background-color: #1E2636;
}
.api-management.personal.night .el-table th>.cell {
  color: #9DA5B3;
}
.api-management.personal.night .el-table td div {
  color: #9DA5B3;
}
