/* 个人中心（黑色主题） */
.push-assets.personal.night .el-select .el-input__inner {
  border: 1px solid #485776;
  color: #a9bed4;
  background-color: #1c1f32;
}

.push-assets.personal.night .el-select .el-input__inner:focus {
  border: 1px solid #338ff5;
}

.push-assets.personal.night .el-input-group--append .el-input__inner {
  border: 1px solid #485776;
  color: #a9bed4;
  background-color: #1c1f32;
}

.push-assets.personal.night .el-input-group--append .el-input__inner:focus {
  border: 1px solid #338ff5;
}

.push-assets.personal.night .el-input-group__append {
  border-top: 1px solid #485776;
  border-bottom: 1px solid #485776;
  color: #338ff5;
  background-color: #1e2636;
  border-right: 1px solid #485776;
}

.push-assets.personal.night .el-table th,
.push-assets.personal.night .el-table tr {
  background-color: #1c1f32;
}

.push-assets.personal.night .el-table thead {
  color: #617499;
}

.push-assets.personal.night .el-dialog {
  background-color: #28334a;
}

.push-assets.personal.night .el-table td {
  border-bottom: 0;
  color: #9da5b3;
  background-color: #1c1f32;
}

.push-assets.personal.night .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #1c1f32;
}

.push-assets.personal.night .el-table__empty-block {
  color: #fff;
  background-color: #1c1f32;
}

.push-assets.personal.night .el-dialog--center {
  background-color: #28334a;
}

.push-assets.personal.night .el-dialog__title {
  color: #fff;
}

.push-assets.personal.night .el-table th.is-leaf {
  border-top: 0;
}
