{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/order": [
      "declarations",
      "custom-properties",
      "dollar-variables",
      "rules"
    ],
    "no-empty-source": null,
    "property-no-vendor-prefix": null,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "length-zero-no-unit": true,
    "value-list-comma-space-after": "always",
    "declaration-colon-space-after": "always",
    "value-list-max-empty-lines": null,
    "shorthand-property-no-redundant-values": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-block-semicolon-newline-after": "always",
    "block-closing-brace-newline-after": "always",
    "media-feature-colon-space-after": "always",
    "media-feature-range-operator-space-after": "always",
    "at-rule-name-space-after": "always",
    "indentation": null,
    "no-eol-whitespace": true,
    "string-no-newline": null,
    "no-descending-specificity":null,
    "font-family-no-missing-generic-family-keyword":null,
    "function-linear-gradient-no-nonstandard-direction":null,
    "declaration-block-trailing-semicolon":null,
    "at-rule-no-unknown": null
  }
}
