/* 用户注册 通用样式（修改elementui） */

.register-box .el-input__inner {
  display: inline-block;
  width: 80px;
}

.register-box .email-select .el-input__inner {
  width: 100%;
}

.register-box .el-checkbox__label {
  color: #8b9197;
}

.register-box .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #338ff5;
}

.register-box .el-checkbox__input.is-checked + .el-checkbox__label span {
  color: #8b9197;
}

.register-box .el-checkbox__inner {
  background-color: transparent;
}

.register-box .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #338ff5;
  background-color: #338ff5;
}

.register-box .el-input__inner {
  border: none;
  background-color: transparent;
}

.register-box .popper__arrow {
  border-top-color: transparent !important;
}

.register-box .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-color: transparent;
}

.register-box .el-popper[x-placement^=bottom] .popper__arrow {
  border-color: transparent;
}

.register-box .el-scrollbar__wrap {
  margin-right: -20px !important;
  margin-bottom: -18px !important;
}

/* .register-box */
.register-box .el-dialog {
  width: 470px;
  border-radius: 10px;
  background: rgba(40, 51, 74, 1);
  -moz-user-select: none; /* 火狐 */
  -webkit-user-select: none; /* webkit浏览器 */
  -ms-user-select: none; /* IE10 */
  -khtml-user-select: none; /* 早期浏览器 */
  user-select: none;
}

/* PC端 */
.register-box .slider .el-dialog {
  height: 280px;
}

.register-box .image-dialog .el-dialog {
  height: 320px;
}

.register-box .el-dialog__header {
  box-sizing: border-box;
  width: 470px;
  height: 44px;
  padding: 12px 0;
  border-radius: 10px 10px 0 0;
  background: rgba(32, 41, 60, 1);
  box-shadow: 0 1px 2px 0 rgba(29, 33, 49, 1);
}

.register-box .el-dialog__title {
  box-sizing: border-box;
  width: 470px;
  height: 44px;
  padding: 0 30px;
  color: #fff;
}

.register-box .slider .el-dialog__body {
  padding: 80px 30px;
}

.register-box .image-dialog .el-dialog__body {
  padding: 40px 30px;
}

.register-box .image-dialog .el-input__inner {
  height: 44px;
}

.register-box .image-dialog .el-input-group__append {
  height: 44px;
  padding: 0;
  border: none;
}

/* 注册移动端 */
.register-box .mobile-box .el-input__inner {
  font-size: 1rem;
}

.register-box .mobile-box .el-select .el-input .el-select__caret {
  display: none;
}

.register.mobile .el-scrollbar {
  width: 15rem;
  height: 10rem;
}

.register.mobile .el-select-dropdown__item {
  height: 2rem;
  font-size: .8rem !important;
}

.register.mobile .el-select-dropdown__item span {
  font-size: .8rem !important;
  line-height: 2rem !important;
}

.register.mobile .el-select-dropdown__wrap {
  min-height: 10rem;
}

.register.mobile .el-input__inner {
  min-width: 180px;
  height: 2.882rem;
  line-height: 2.882rem;
}

.register.mobile .el-checkbox__label {
  font-size: .8rem;
  vertical-align: middle;
}

.register.mobile .el-checkbox__inner {
  width: .6rem;
  height: .6rem;
  vertical-align: top;
}

.register.mobile .el-checkbox__inner::after {
  left: 10px;
  width: 15px;
  height: 23px;
}

.register.mobile .el-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 18rem;
  height: 11rem;
  margin-top: 0 !important;
  transform: translate(-50%, -50%);
}

.register.mobile .el-dialog__header {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 12px 0;
  border-radius: 10px 10px 0 0;
  line-height: 120px;
  background: rgba(32, 41, 60, 1);
  box-shadow: 0 1px 2px 0 rgba(29, 33, 49, 1);
}

.register.mobile .el-dialog__header > span,
.register.mobile .el-dialog__headerbtn .el-dialog__close {
  font-size: 40px;
}

.register.mobile .el-dialog__headerbtn {
  top: 40px;
  right: 40px;
}

.register.mobile .el-dialog__body {
  padding: 3rem 1rem;
}

.register.mobile .drag {
  position: relative;
  width: 1000px;
  height: 2.5rem;
  margin: 0 auto;
  border: 1px solid #4e5b85;
  line-height: 2.5rem;
  text-align: center;
  background-color: #1e2235;
}

.register.mobile .drag_text {
  position: absolute;
  top: 0;
  width: 1000px;
  font-size: .7rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #61688a), color-stop(.4, #61688a), color-stop(.5, #fff), color-stop(.6, #61688a), color-stop(1, #61688a));
  -webkit-background-clip: text;
  -webkit-animation: slidetounlockForMobile 4s infinite;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-size-adjust: none;
}

@keyframes slidetounlockForMobile {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

.register.mobile .handler {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 2.5rem;
  cursor: move;
}

.register.mobile .handler_bg {
  width: 200px;
  height: 100%;
  font-size: 2rem;
  color: #fff;
  background: #485776 url(../../../../src/assets/develop/arrow-bg.png) no-repeat center center;
  -webkit-background-size: 50px 50px;
  background-size: 50px 50px;
}

.login-box .mobile-box > .mobile-inner-box .handler_bg .icon {
  font-size: 1rem;
  color: #fff;
}

.invitation-success-dialog .el-dialog .el-dialog__header {
  height: 0;
  padding: 0;
}

.register.mobile .invitation-success-dialog .el-dialog {
  height: auto;
  padding: 0;
  margin: 0;
  text-align: center;
}

.register.mobile .invitation-success-dialog .el-dialog__body {
  padding: 80px;
}
