/* 覆盖element样式 */
.add-bank.personal .el-input-group {
  width: 62.5%;
}

.add-bank.personal .el-input__inner {
  height: 36px;
  border-radius: 2px;
}

.add-bank.personal .el-input-group__append {
  padding: 0 16px;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
}

.add-bank.personal .el-form-item__content {
  width: 600px;
}
