/*覆盖element样式*/
.add-account.account .el-input-group{
  width: 62.5%;
}
.add-account.account .el-input__inner {
  height: 36px;
  border-radius: 2px;
}
.add-account.account .el-input-group__append {
  font-size: 12px;
  padding: 0 16px;
  border-radius: 0 4px 4px 0;
}
