/*覆盖element样式*/
.add-chat.personal .el-input-group{
  width: 62.5%;
}
.add-chat.personal .el-input__inner {
  height: 36px;
  border-radius: 2px;
}
.add-chat.personal .el-input-group__append {
  font-size: 12px;
  padding: 0 16px;
  border-radius: 0 4px 4px 0;
}
.add-chat.personal .el-upload-list__item {
  width: 118px;
  height: 118px;
}
.add-chat.personal .el-upload--picture-card {
  width: 118px;
  height: 118px;
  line-height: 106px;
}
.add-chat.personal .el-form-item__content {
  width: 600px;
}
