/* 完成订单组件样式重写 */
.otc-completed-order-box.night .completed-order-content .el-table__expanded-cell {
  background-color: #1c1f32;
}

.otc-completed-order-box.night .completed-order-content .el-table th {
  padding: 5px 0;
  box-shadow: 4px 4px 6px #191e28;
}

.otc-completed-order-box.night .completed-order-content .el-table__empty-text {
  color: rgba(255, 255, 255, .8);
}

.otc-completed-order-box.night.night .completed-order-content .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #1c1f32;
}

.otc-completed-order-box.night .completed-order-content .el-table__header {
  margin-bottom: 15px;
}

.otc-completed-order-box.night .completed-order-content .el-table {
  background-color: #272b41;
}

.otc-completed-order-box.night .completed-order-content .el-table__body {
  border-collapse: separate !important;
}

.otc-completed-order-box.night .completed-order-content.el-table {
  border-collapse: separate !important;
}

.otc-completed-order-box.night .completed-order-content .el-table__expanded-cell {
  border-bottom: 25px solid #272b41;
}

.otc-completed-order-box.night .completed-order-content > .tables .el-icon-arrow-right::before {
  content: " ";
}

.otc-completed-order-box.night .completed-order-content .el-table_2_column_9 .el-table__expand-column .is-leaf {
  border-bottom-left-radius:  5px;
  border-top-left-radius:  5px;
}

.otc-completed-order-box.night .completed-order-content .el-table th.is-leaf:first-of-type {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.otc-completed-order-box.night .completed-order-content .el-table th.is-leaf:nth-last-of-type(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.otc-completed-order-box.night .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type {
  border-top-left-radius: 5px;
}

.otc-completed-order-box.night .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell {
  border-top: 0 solid #262f38;
  border-top-left-radius: 0;
}

.otc-completed-order-box.night .completed-order-content .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1) {
  border-top-right-radius: 5px;
}

.otc-completed-order-box.night .completed-order-content .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1).el-table__expanded-cell {
  border-top-right-radius: 0;
}

.otc-completed-order-box.night .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell ::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 1045px;
  height: 20px;
  border-bottom: 1px solid #262f38;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #1c1f32;
  content: '';
}

.otc-completed-order-box.night .completed-order-content .el-table--enable-row-transition .el-table__body td {
  border-top: 1px solid #262f38;
}

.el-table td {
  border-bottom: 1px solid #262f38;
}

.otc-completed-order-box.night .completed-order-content .el-table__empty-block {
  min-height: 432px;
  background-color: #1c1f32;
}
