/*发布广告样式重置*/
.otc-publish-AD-box.night .right-style .el-select{
}
.otc-publish-AD-box.night .right-change .el-select{
}
.otc-publish-AD-box.night .choice .el-input__inner{
  /*yuxia改动的下拉选框的输入框的背景和边框*/
  background: #1C1F32;
}
.otc-publish-AD-box.night .trade-way .el-checkbox-group{
}
/* 文本域 */
.otc-publish-AD-box.night .el-textarea__inner{
  background-color: #1C1F32;
  color: #A9BED4;
}
/* 复选框 */
.otc-publish-AD-box.night .trade-way .el-checkbox{
  color: #9DA5B3;
}
.otc-publish-AD-box.night .trade-way .el-checkbox__inner{
  background-color: #1C1F32;
  border: 1px solid #435372;
}
.otc-publish-AD-box.night .trade-way .el-checkbox__inner::after{
  /* border: 1px solid #1F90EA; */
}
.otc-publish-AD-box.night .trade-way .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #9DA5B3;
}
/* 输入密码弹出框 */
.otc-publish-AD-box.night .password-dialog .el-dialog{
  background: #28334A;
}
.otc-publish-AD-box.night .password-dialog .el-dialog__header{
  background-color:#20293C;
}
.otc-publish-AD-box.night .password-dialog .el-dialog__title{
  color: #fff;
}
.otc-publish-AD-box.night .password-dialog .el-dialog__headerbtn{
}
.otc-publish-AD-box.night .password-dialog .el-dialog__body{
  color: #fff;
}
.otc-publish-AD-box.night .password-dialog .el-dialog__body .input{
}
.otc-publish-AD-box.night .password-dialog .el-dialog__body .password-input{
  background-color: #1A2233;
  color: #fff;
}
.otc-publish-AD-box.night .password-dialog .el-dialog__body .error-info{
  color: #fff;
}
.otc-publish-AD-box.night .password-dialog .el-dialog__footer{
}
.otc-publish-AD-box.night .password-dialog .el-button{
}
.otc-publish-AD-box.night .password-dialog .el-button--primary{
  background:linear-gradient(9deg,rgba(43,57,110,1),rgba(42,80,130,1));
}
/* 问号提示颜色 */
.otc-publish-AD-box.night .limit-set .icon{
  color: #338FF5;
}