/*报表统计样式重置*/
/* 1.0筛选条件中的下拉框样式 */
.otc-report-form-statistics-box.night .currency-input .el-select{
}
.otc-report-form-statistics-box.night .legal-tender-input .el-select{
}
.otc-report-form-statistics-box.night .report-form-filtrate .el-input__inner{
  background-color: #1E2636;
}
/*2.0日期选择器*/
.otc-report-form-statistics-box.night .date .select-date .el-date-editor.el-input{
  width: 134px;
}
.otc-report-form-statistics-box.night .date .select-date .el-input__inner {
  background-color: #19202E;
}
/*3.0单选按钮日期选择*/
.otc-report-form-statistics-box.night .date .radio-date.el-radio {
  color: #46505F;
}
.otc-report-form-statistics-box.night .date .radio-date .el-radio__label{
  color: #fff;
}
.otc-report-form-statistics-box.night .date .radio-date .el-radio__inner{
  background-color: #35414D;
  border: 1px solid #B3B3B3;
}
.otc-report-form-statistics-box.night .date .radio-date .el-radio__input.is-checked+.el-radio__label{
  color: #46505F;
}
.otc-report-form-statistics-box.night .date .radio-date .el-radio__inner::after{
  background-color: #338FF5;
}
/* 4.0 订单详情表格样式重写 */
.otc-report-form-statistics-box.night .order-table .el-table thead {
  color: #A9BED4;
}
.otc-report-form-statistics-box.night .order-table .el-table__header{
}
.otc-report-form-statistics-box.night .order-table .el-table{
  background-color: #1E2636;
  color: #9DA5B3;
}
.otc-report-form-statistics-box.night .order-table .el-table tr{
  background-color: #1E2636;
}
.otc-report-form-statistics-box.night .order-table .el-table th{
  background-color: #1E2636;
}
.otc-report-form-statistics-box.night .order-table .el-table td{
}
.otc-report-form-statistics-box.night .order-table .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #1E2636;
}
.otc-report-form-statistics-box.night .order-table .el-table th.is-leaf {
  border-bottom: 1px solid #262F38;
}
