.fiat-completed-order-box.personal.day .el-table th.is-leaf{
    border-right: 1px solid #ECF1F8;
}
.fiat-completed-order-box.personal.day .el-table th{
    background: #fff;
}
.fiat-completed-order-box.personal.day .el-table__header{
    margin-bottom:0;
}
.fiat-completed-order-box.personal.day .el-table{
    background: #fff;
    margin:0 auto;
    border:1px solid #ECF1F8;
}
.fiat-completed-order-box.personal.day .el-table__empty-block{
    background: #fff;    
}
.fiat-completed-order-box.personal.day .el-table th.is-leaf:first-of-type{
    border-radius:0px;
    border-left:none;
}
.fiat-completed-order-box.personal.day .el-table th.is-leaf{
    border-bottom: 1px solid #ECF1F8;
    border-top: 1px solid #ECF1F8;
}