.fiat-canceled-order-box.personal.day > .canceled-order-content > .canceled-table-head[data-v-2c06fa32]{
    background-color:#fff;
    border-radius: 0;
    border: none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.fiat-canceled-order-box.personal.day > .canceled-order-content > .canceled-table-head > .item[data-v-2c06fa32]{
    border-right:1px solid #ECF1F8;
    border-bottom:1px solid #ECF1F8;
    color:#909399;
}
.fiat-canceled-order-box.personal.day > .canceled-order-content > .no-data[data-v-2c06fa32]{
    width: 100%;
    background-color: #fff;
}
.fiat-canceled-order-box.personal.day[data-v-2c06fa32]{
    border: 1px solid #ECF1F8;
}