.fiat-canceled-order-box.personal.day > .canceled-order-content > .canceled-table-head{
    background-color:#fff;
    border-radius: 0;
    border: none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.fiat-canceled-order-box.personal.day > .canceled-order-content > .canceled-table-head > .item{
    /* border-right:1px solid #ECF1F8; */
    border-bottom:1px solid #ECF1F8;
    color:#909399;
}
.fiat-canceled-order-box.personal.day > .canceled-order-content > .no-data{
    width: 100%;
    background-color: #fff;
}
.fiat-canceled-order-box.personal.day {
    border: 1px solid #ECF1F8;
}
.fiat-canceled-order-box.personal.day .el-table tr {
  background-color: #fff;
}
