.service-protocol-box .el-tabs__nav-wrap::after{
    content: "";
    height: 0;
}
.service-protocol-box .el-tabs .el-tabs-top{
<<<<<<< HEAD
    z-index: 10px;;
=======
    z-index: 10;
>>>>>>> 7e4cabde81020b526e2913dbd8c5cb3c296d91ab
}
.service-protocol-box .el-tabs__header{
    margin: -155px 0px 6px -48px;
}
.service-protocol-box .user-protocol-box.night > .content > .content{
    background-color:transparent!important;
}
.service-protocol-box .el-tabs__active-bar{
    background-color:transparent;
}
.service-protocol-box .el-tabs__item.is-active{
    color: #fff;
    line-height: 70px;
    height: 70px;
    font-weight: 600;
    background: #338ff5;
    opacity:1;
    padding: 0px 10px;
    margin-bottom:-20px;
    border-right:none; 
}
.service-protocol-box .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
.service-protocol-box .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
.service-protocol-box .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
.service-protocol-box .el-tabs--top .el-tabs__item.is-top:nth-child(2){
    padding-left:10px; 
}
.service-protocol-box .el-tabs--bottom .el-tabs__item.is-bottom:last-child,
.service-protocol-box .el-tabs--bottom .el-tabs__item.is-top:last-child,
.service-protocol-box .el-tabs--top .el-tabs__item.is-bottom:last-child,
.service-protocol-box .el-tabs--top .el-tabs__item.is-top:last-child{
    padding-right: 10px;
}
.service-protocol-box .el-tabs__item{
    padding: 0 10px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    border-right:1px solid #121824; 
    color: #fff;
    background: rgba(51,143,245,1);
    opacity:0.6;
    position: relative;
}
.service-protocol-box .service-protocol-box > .content > .content{
    overflow: visible
}
.service-protocol-box .el-tabs__content{
    margin-left:-60px;
    margin-top:50px; 
}
