/* 覆盖黑色主题的啊样式 */
.finance-box.day .inner-box .finance-inner .container .finance-form-header .el-input__inner{
    background:#fff!important;
    box-shadow:inset 1px 0px 3px rgba(51,143,245,1);
}
.finance-box.day .inner-box .finance-inner .container .finance-form-header .newnestPrice .newnestPriceColor{
    color:#000;
}
.finance-box.day .finance-inner-box .left .left-body .el-input__inner{
    background: #eaf4fe;
    border: 1px solid #338FF5;
}
.finance-box.day .el-table__header{
    margin-top:2px; 
    box-shadow:0px 0px 4px rgba(51,143,245,0.5);
}
.finance-box.day .nvest-list-body .el-table{
    color: #666;
    background: transparent;
}
.finance-box.day .nvest-list-body .el-table td,
.finance-box.day .nvest-list-body .el-table th.is-leaf{
    border-top: 1px solid #fff;
    box-shadow: none;
}
.finance-box.day .nvest-list-body .el-table th{
    color:#617499; 
    border-top:1px solid rgba(234,244,254,1);
    border-bottom:1px solid rgba(234,244,254,1);
    background:#eaf4fe;
    box-shadow:0px 0px 0px rgba(25,30,40,0.5);
}
.finance-box.day .nvest-list-body .el-table th.is-leaf:first-of-type{
    border-left:1px solid rgba(51,143,245,0.1);
    border-bottom-left-radius: 4px;
}
.finance-box.day .nvest-list-body .el-table th.is-leaf:nth-last-of-type(2){
    border-bottom-right-radius: 4px;
    border-right:1px solid rgba(51,143,245,0.1);
}
.finance-box.day .nvest-list-body .el-table td, .el-table th.is-leaf{
    border-bottom:1px solid rgba(169,190,212,0.2);
}
.finance-box.day .nvest-list-body .el-table--enable-row-hover .el-table__body tr:hover>td{
    background:#eaf4fe;
}
.finance-box.day .invest{
    background:linear-gradient(90deg,rgba(51,143,245,0.8),transparent);
    color: #338FF5;
}
.finance-box.day .el-tabs__item.is-active{
    color: #338FF5;
}
.finance-box.day .nvest-list-body .el-tabs__nav{
    width: 300px;
    font-weight:bold;
    color: #617499;
    padding:9px 0px 9px 26px;
    background:linear-gradient(90deg,rgba(51,143,245,0.8),transparent);
}
.finance-box.day .inner-box .finance-inner .container .finance-form-header .newnestPrice{
    flex: 1;
    height: 48px;
    display:flex;
}
.finance-box.day .inner-box .finance-inner .container .finance-form-header .newnestPrice li{
    border-right:1px solid rgba(30,38,54,0.3);
    color:#666;
}
.finance-box.day .inner-box .finance-inner .container .finance-form-header .newnestPrice li p{
    font-size:22px;
}
.finance-box.day .inner-box .finance-inner .container .finance-form-header .newnestPrice li p:last-child{
    border: none;
}
.finance-box.day .inner-box .finance-inner .container .finance-form-header .newnestPrice li p span{
    font-size:12px;
}
.finance-box.day .inner-box .finance-inner .finance-inner-box .left,
.finance-box.day .inner-box .finance-inner .finance-inner-box .left .nav-header .balance
{
    color:#666;
}
.finance-box.day .inner-box .finance-inner .finance-inner-box .left .nav-header .balance div{
    color:#338FF5;
}
.finance-box.day .inner-box .finance-inner .finance-inner-box .left .left-body .invest-mounte input{
    width: 380px;
    color:#666;
    vertical-align: center;
}
.finance-box.day .inner-box .finance-inner .finance-inner-box .right .pieCharts{
    padding-top: 50px;
    width: 282px;
}
.finance-box.day > .inner-box > .finance-inner > .invest-list > .nvest-list-body .financeTsipsBox{
    background-color: #fff;
}
.finance-box.day > .inner-box > .finance-inner .finance-inner-box > .left .left-body > label > .invest-mounte > input{
    color:#666;
}
.finance-box.day .nvest-list-body .el-table{
    box-shadow:0px 0px 0px rgba(25,30,40,0.5);
}
.finance-box.day .el-dialog,
.finance-box.day .finance-inner-box .dialogStyle .invest-mounte 
{
    background: #fff;
}
.finance-box.day .el-dialog__header{
    background: #EAF4FE;
    box-shadow:0px 1px 2px 0px rgba(29,33,49,0.1);
}
.finance-box.day .el-dialog__title,
.finance-box.day .el-dialog__headerbtn .el-dialog__close 
{
    color: #333;
}
.finance-box.day .finance-inner-box .dialogStyle .invest-mounte{
    border:1px solid rgba(236,241,248,1);
}
.finance-box.day .finance-inner-box .dialogStyle .el-button{
    color: #338FF5;
}
.finance-box.day .finance-inner-box .dialogStyle .el-button--primary{
   color:#fff;
}
.finance-box.day .finance-inner-box .dialogStyle .saveTime{
    color: #333;
  }