/*全球行情（不分主题）*/
.global-market-box .el-table td
{
  padding:0;
  height:50px;
  font-size: 12px;
}
.global-market-box .el-table th,
.golbal-market-box .el-table__header-wrapper{
  height:36px;
}
.global-market-box .el-table th>.cell{
  padding-right:0;
}
