/* 完成订单组件样式重写 */
.fiat-completed-order-box.personal.night .el-table__expanded-cell {
  border-bottom: 26px solid #1d2331 !important;
  background-color: #1c1f32;
}

.fiat-completed-order-box.personal.night .el-table th {
  padding: 5px 0;
  background-color: #1c1f32;
  box-shadow: 4px 4px 6px #191e28;
}

.fiat-completed-order-box.personal.night .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #1c1f32;
}

.fiat-completed-order-box.personal.night .el-table td {
  height: 40px;
  background-color: #1c1f32;
}

.fiat-completed-order-box.personal.night .el-table__header {
  margin-bottom: 5px;
}

.fiat-completed-order-box.personal.night .el-table {
  color: #9da5b3;
  background-color: #272b41;
}

.fiat-completed-order-box.personal.night .el-table th.is-leaf {
  border-top: 1px solid #262f38;
  border-bottom: 1px solid #262f38;
}

.fiat-completed-order-box.personal.night .el-table__body {
  border-collapse: separate !important;
}

.fiat-completed-order-box.personal.night.el-table {
  border-collapse: separate !important;
}

.fiat-completed-order-box.personal.night .el-table_2_column_9 .el-table__expand-column .is-leaf {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.fiat-completed-order-box.personal.night .el-table__expanded-cell:hover {
  background-color: #1c1f32 !important;
}

.fiat-completed-order-box.personal.night .el-table th.is-leaf:first-of-type {
  border-left: 1px solid #262f38;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.fiat-completed-order-box.personal.night .el-table th.is-leaf:nth-last-of-type(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #262f38;
}

.fiat-completed-order-box.personal.night .el-table--enable-row-transition .el-table__body td:first-of-type {
  border-left: 1px solid #262f38;
  border-top-left-radius: 5px;
}

.fiat-completed-order-box.personal.night .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell {
  border-top: 0 solid #262f38;
  border-left: 1px solid #262f38;
  border-top-left-radius: 0;
  border-right: 1px solid #262f38;
}

.fiat-completed-order-box.personal.night .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1) {
  border-top-right-radius: 5px;
  border-right: 1px solid #262f38;
}

.fiat-completed-order-box.personal.night .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1).el-table__expanded-cell {
  border-top-right-radius: 0;
}

.fiat-completed-order-box.personal.night .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell ::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 20px;
  border-bottom: 1px solid #262f38;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #1c1f32;
  content: '';
}

.fiat-completed-order-box.personal.night .el-table--enable-row-transition .el-table__body td {
  border-top: 1px solid #262f38;
}

.el-table td {
  border-bottom: 1px solid #262f38;
}

.fiat-completed-order-box.personal.night .el-table__empty-block {
  min-height: 345px;
  background-color: #1c1f32;
}
