/* 交易中的订单样式重写 */
.fiat-canceled-order-box.personal.night .el-input__inner{
  background-color: #303B45;
  color: #9DA5B3;
}
.fiat-canceled-order-box.personal.night .el-select-dropdown{
  background-color: #29343F;
}
.fiat-canceled-order-box.personal.night .el-select-dropdown__item.selected{
  color: #338FF5;
}
.fiat-canceled-order-box.personal.night .el-select-dropdown__item:hover {
  background-color: #29343F;
}
.fiat-canceled-order-box.personal.night .el-table__expanded-cell:hover {
  background-color: #1E2636;
}
.fiat-canceled-order-box.personal.night .el-select-dropdown__item.hover{
  background-color: #29343F;
  color: #338FF5;
}
.fiat-canceled-order-box.personal.night .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #29343F;
}
.fiat-canceled-order-box.personal.night .el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #29343F;
}
/* 2.0按钮样式 */
.fiat-canceled-order-box.personal.night .el-button--mini{
  padding: 3px 10px;
}

.fiat-canceled-order-box.personal.night .el-textarea__inner{
  background-color: #1E2636;
  border: 1px solid #7587A5;
  resize: none;
}
/* 4.0 扫码付款按钮及弹窗支付宝和微信图片*/
.fiat-canceled-order-box.personal.night .bank-info-picture .el-button{
  color: #fff;
  background-color: #409EFF;
  border-color: #409EFF;
}
.fiat-canceled-order-box.personal.night .bank-info-picture .el-button:hover{
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
/* 输入密码弹出框 */
.fiat-canceled-order-box.personal.night .password-dialog .el-dialog{
  background: #28334A;
}
.fiat-canceled-order-box.personal.night .password-dialog .el-dialog__header{
  background-color:#20293C;
}
.fiat-canceled-order-box.personal.night .password-dialog .el-dialog__title{
  color: #fff;
}
.fiat-canceled-order-box.personal.night .password-dialog .el-dialog__body{
  color: #fff;
}
.fiat-canceled-order-box.personal.night .password-dialog .el-dialog__body .password-input{
  background-color: #1A2233;
  color: #fff;
}
.fiat-canceled-order-box.personal.night .password-dialog .el-dialog__body .error-info{
  color: #fff;
}
.fiat-canceled-order-box.personal.night .password-dialog .el-button--primary{
  background:linear-gradient(9deg,rgba(43,57,110,1),rgba(42,80,130,1));
}

.fiat-canceled-order-box.personal.night .el-table tr{
  background-color: #1E2636;
}
