/* 个人中心黑色主题 */
.add-payment.personal.night .el-textarea__inner {
  border: 1px solid #485776;
  color: rgba(255, 255, 255, .7);
  background-color: #1c1f32;
}

.add-payment.personal.night .el-form-item__label {
  color: rgba(255, 255, 255, .7);
}
