/* 个人中心黑色主题 */
.add-account.personal.night .el-form-item__label {
  color: rgba(255, 255, 255, .7);
}

.add-account.personal.night .el-input__inner {
  border: 1px solid #485776;
  color: rgba(255, 255, 255, .7);
}

.add-account.personal.night .el-input-group__append {
  border-color: #364654;
  color: rgba(255, 255, 255, .7);
  background-color: #338ff5;
}

.add-account.personal.night .el-upload--picture-card {
  background-color: #485776;
}
