/* 全局修改element样式 */

/* 解决单选按钮组双击显示蓝色边框阴影的问题 */
.el-radio-button:focus:not(.is-focus):not(:active) {
  /* box-shadow: 0 0 2px 2px #409eff; 这是bug存在的现象去掉就行了 */
  box-shadow: none;
}

/* table 底部边框 */
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  height: 0;
}

.collected {
  color: #f5c34a;
}

/* 分页样式 */
.night .el-pagination.is-background .btn-next,
.night .el-pagination.is-background .btn-prev,
.night .el-pagination.is-background .el-pager li {
  min-width: 20px;
  color: #fff;
  box-shadow: 0 1px 1px 0 rgba(19, 24, 30, 1);
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  min-width: 20px;
}

.day .el-pagination.is-background .btn-next,
.day .el-pagination.is-background .btn-prev {
  color: #fff;
  background: rgba(43, 54, 64, .3);
  box-shadow: 0 0 1px 0 rgba(19, 24, 30, 1);
}

.el-pagination button {
  min-width: 0;
  height: 20px;
}

.el-pager li {
  height: 20px;
  line-height: 20px;
}

.night .el-pagination button {
  background-color: rgba(43, 54, 64, 1) !important;
}

.night .el-pager li {
  background-color: rgba(43, 54, 64, 1) !important;
}

.night .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #338ff5 !important;
}

.el-pagination.is-background .btn-next.disabled,
.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-prev.disabled,
.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .el-pager li.disabled {
  color: #606266;
}

/* 日期组件 */
.night .el-picker-panel {
  border: none;
  color: #c0c4cc;
  background-color: #2a3242;
}

.night .el-picker-panel .el-input__inner {
  border: 1px solid #39424d;
  background-color: #2a3242;
}

.night .el-picker-panel .el-picker-panel__footer {
  border-top: 1px solid #39424d;
  background-color: #2a3242;
}

.night .el-picker-panel .el-picker-panel__footer .el-button:nth-child(2) {
  border: 0;
  color: #fff;
  background: linear-gradient(90deg, #2b396e 0%, #2a5082 100%);
}

.night .el-date-table th,
.night .el-date-picker__time-header {
  border-bottom: solid 1px #39424d;
}

.night .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #2a3242;
}

.night .el-popper[x-placement^=bottom] .popper__arrow {
  /* border-bottom-color: #2a3242; */
  border-bottom: none;
}

.el-popper .popper__arrow {
  border: none !important;
}

/* otc 交易中支付码样式 */
.day .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #eaf4fe;
}

.day .el-popover {
  background: #eaf4fe;
}

.night .el-popover {
  border: 1px solid #2a3242;
  background: #2a3242;
}

/* otc 交易中支付码样式-任付伟添加结束 */

/* 修改全局样式 */
.el-pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* 设置全局下拉框样式 */
.night .el-select-dropdown {
  background: #2a3242;
}

.night .el-select-dropdown__item {
  color: #7a8093;
}

.night .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  color: #fff;
  background-color: #338ff5 !important;
}

.night .el-select-dropdown__item.selected {
  color: #fff !important;
}

.el-select-dropdown__wrap.el-scrollbar__wrap {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  overflow: auto;
}

.el-scrollbar {
  overflow: inherit;
}

.el-scrollbar__bar.is-vertical {
  width: 0;
}

.night .el-popper[x-placement^=top] .popper__arrow::after {
  border-top-color: #2a3242;
}

/* 全局二次弹窗样式 */
.day .el-message-box {
  background: #fff;
}

.day .el-message-box__btns button:nth-child(1) {
  border: 1px solid rgba(51, 143, 245, 1);
  color: #63a5ef;
  background-color: transparent;
}

.day .el-message-box__message p {
  color: #333;
}

.day .el-message-box__btns button:nth-child(2) {
  background: linear-gradient(81deg, rgba(43, 57, 110, 1) 0%, rgba(42, 80, 130, 1) 100%);
}

/* 全局二次弹窗样式 */
.night .el-message-box__header {
  padding: 0;
}

.night .el-message-box {
  background: rgba(40, 51, 74, 1);
}

.night .el-button:hover {
  color: #fff;
}

.night .el-message-box__btns button:nth-child(1) {
  border: 1px solid rgba(51, 143, 245, 1);
  color: #fff;
  background-color: #28334a;
}

.night .el-message-box__message p {
  color: #fff;
}

/* 移动端 消息 */
.mobile .el-message-box__message {
  /* font-size: 0.7rem; */
}

.mobile .el-message .el-message__content,
.mobile .el-message .el-icon-error {
  font-size: 40px;
}

.night .el-message-box__btns button:nth-child(2) {
  background: linear-gradient(81deg, rgba(43, 57, 110, 1) 0%, rgba(42, 80, 130, 1) 100%);
}

.el-message {
  z-index: 23000 !important;
}

/* 添加日期时间组件全局样式 */

.night .el-date-table td.disabled div {
  color: #666;
  background-color: transparent;
}

.night .el-date-table td.next-month,
.night .el-date-table td.prev-month {
  color: #666;
}

.night .el-date-table td.in-range div {
  background: rgba(45, 54, 81, .6);
}

.night .el-picker-panel__icon-btn {
  color: #c0c4cc;
}

.night .el-time-panel {
  border: 1px solid #39424d;
  background: #2a3242;
}

.el-time-panel {
  width: 182px;
}

.night .el-time-spinner__item.active:not(.disabled) {
  color: #c0c4cc;
}

.night .el-date-range-picker__time-header {
  display: none;
  border-bottom: 1px solid #39424d;
}

.day .el-date-range-picker__time-header {
  display: none;
}

.night .el-date-range-picker__content.is-left {
  border-right: 1px solid #39424d;
}

.night .el-time-panel__footer {
  border-top: 1px solid #39424d;
}

.el-time-panel__content::after {
  margin-top: -12px;
  border-top: 1px solid #39424d;
  border-bottom: 1px solid #39424d;
}

.el-time-panel__content.has-seconds::after {
  left: calc(100% / 3 * 0);
}

.el-time-spinner__item {
  line-height: 36px;
}

/* 账单明细日期时间组件清除按钮隐藏 */
.el-picker-panel .el-picker-panel__footer .el-button--text.el-button--mini {
  display: none;
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
  background: rgba(28, 31, 50, .3);
}

/* 全局字体颜色 */
.hint-color {
  color: #338ff5;
}
