/*全局修改element样式*/
/*table 底部边框*/
.el-table--border::after, .el-table--group::after, .el-table::before{
  height:0;
}

.collected{
  color:#f5c34a;
}
/*分页样式*/
.night .el-pagination.is-background .btn-next,
.night .el-pagination.is-background .btn-prev,
.night .el-pagination.is-background .el-pager li
{
  min-width: 0;
  box-shadow: 0px 1px 1px 0px rgba(19,24,30,1);
  color:#fff;
}
.day .el-pagination.is-background .btn-next,
.day .el-pagination.is-background .btn-prev
{
  background:rgba(43,54,64,0.3);
  color: #fff;
  box-shadow:0px 0px 1px 0px rgba(19,24,30,1);
}
.el-pagination button{
  /* width:20px;
  height:20px; */
  width: 26px;
  height: 25px;
  min-width:0;
  background-color: pink;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li
{
  min-width:0;
}
.el-pager li{
  /* width:20px;
  height:20px;
  line-height: 20px; */
  width: 26px;
  height: 25px;
  line-height: 26px;
}
.night .el-pagination button{
  background-color: rgba(43,54,64,1) !important;
}
.night .el-pager li {
  background-color:rgba(43,54,64,1) !important;
}

.night .el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #338FF5 !important;
}
.el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev.disabled, .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .el-pager li.disabled{
  color:#606266;
}
/*日期组件*/
.night .el-picker-panel{
  background-color: #2a3242;
  border:none;
}
.night .el-picker-panel .el-input__inner{
  background-color: #2a3242;
  border: 1px solid #39424D;
}
.night .el-picker-panel .el-picker-panel__footer{
  background-color: #2a3242;
  border-top: 1px solid #39424D;
}
.night .el-picker-panel .el-picker-panel__footer .el-button:nth-child(2){
  background: linear-gradient(90deg, #2b396e 0%, #2a5082 100%);
  border: 0;
}
.night .el-date-table th,.night .el-date-picker__time-header{
  border-bottom: solid 1px #39424D;
}
.night .el-popper[x-placement^=bottom] .popper__arrow::after{
  /*border-bottom-color: #2a3242;*/
  border-bottom-color: transparent;
}
.night .el-popper[x-placement^=bottom] .popper__arrow{
  /*border-bottom-color: #2a3242;*/
  border-bottom:none;
}
.el-popper .popper__arrow{
  border:none !important;
}
/* otc 交易中支付码样式-任付伟添加 */
.day .el-popper[x-placement^=bottom] .popper__arrow::after{
  border-bottom-color: #EAF4FE;
}
.day .el-popover{
  background: #EAF4FE;
}
.night .el-popover {
  background: #2A3242;
  border: 1px solid #2A3242;
}
.night .el-popper[x-placement^=bottom] .popper__arrow::after{
  /* border-bottom-color: #fff; */
  border-bottom-color: #2A3242;
}
/* otc 交易中支付码样式-任付伟添加结束 */
/* 修改全局样式 */
.el-pagination{
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
}
/* 设置全局下拉框样式 */
.night .el-select-dropdown{
  background: #2A3242;
}
.night .el-select-dropdown__item{
  color:#7A8093;
}
.night .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #338FF5!important;
  color:#fff;
}
.night .el-select-dropdown__item.selected{
  color:#fff!important;
}
.night .el-select-dropdown__wrap.el-scrollbar__wrap{
  margin-bottom: -10px!important;
}
.night .el-popper[x-placement^=top] .popper__arrow::after{
  border-top-color: #2A3242;
}
.day .el-select-dropdown__wrap.el-scrollbar__wrap{
  margin-bottom:-10px!important;
}
/*全局二次弹窗样式*/
.day .el-message-box {
  background: #fff;
}
.day .el-message-box__btns button:nth-child(1) {
  border: 1px solid rgba(51,143,245,1);
  background-color: transparent;
  color: #63A5EF;
}
.day .el-message-box__message p {
  color: #333;
}
.day .el-message-box__btns button:nth-child(2) {
  background:linear-gradient(81deg,rgba(43,57,110,1) 0%,rgba(42,80,130,1) 100%);
}
/*全局二次弹窗样式*/
.night .el-message-box__header {
  padding: 0;
}
.night .el-message-box {
  background:rgba(40,51,74,1);
}
.night .el-button:hover {
  color: #fff;
}
.night .el-message-box__btns button:nth-child(1) {
  border: 1px solid rgba(51,143,245,1);
  background-color: #28334A;
  color: #fff;
}
.night .el-message-box__message p {
  color: #fff;
}
/*移动端 消息*/
.mobile .el-message-box__message{
  /*font-size: 0.7rem;*/
}
.mobile .el-message .el-message__content,
.mobile .el-message .el-icon-error
{
  font-size: 40px;
}
.night .el-message-box__btns button:nth-child(2) {
  background:linear-gradient(81deg,rgba(43,57,110,1) 0%,rgba(42,80,130,1) 100%);
}
.el-message{
  z-index: 2300 !important;
}
/* 任付伟增加开始 */
/* 商家图标鼠标放上去显示的样式 */
.night .el-tooltip__popper{
  padding: 7px 10px 7px 10px;
}
.night .el-tooltip__popper.is-dark {
  /* background: #7a98f7;
  color: #fff; */
  background: #fff;
  color: black;
}
.night .el-tooltip__popper .popper__arrow {
  border-bottom-color: #fff !important;
  /* border-left-color: #fff !important; */
}
.night .el-tooltip__popper .popper__arrow::after {
  border-bottom-color: #fff !important;
  /* border-left-color: #fff !important; */
}
/* 商家图标鼠标放上去显示的样式 */
.day .el-tooltip__popper{
  padding: 7px 10px 7px 10px;
}
.day .el-tooltip__popper.is-dark {
  background: black;
  color: #FFFFFF;
}
.day .el-tooltip__popper .popper__arrow {
  border-bottom-color: black !important;
  /* border-left-color: black !important; */
}
.day .el-tooltip__popper .popper__arrow::after {
  border-bottom-color: black !important;
  /* border-left-color: black !important; */
}
/* 任付伟增加结束 */
