/*个人中心（黑色主题）*/
/*tabs切换*/
.fiat-orders.personal.night .el-tabs__item.is-active{
  background-color: transparent;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
}
.fiat-orders.personal.night .el-tabs__item.is-active {
  color: rgba(0, 121, 254, 1);
  background: #1C1F32;
  border-bottom: 2px solid #338FF5 !important;
}
.fiat-orders.personal.night .el-tabs__item:hover {
  border-left: 0 solid transparent;
  background-color: #1C1F32;
}
.fiat-orders.personal.night .el-input__inner {
  background-color: #2D3651;
}
.fiat-orders.personal.night .el-button {
  color: #fff;
  background:linear-gradient(90deg,rgba(43,57,110,1) 0%,rgba(42,80,130,1) 100%);
}
.fiat-orders.personal.night .el-tabs__content {
  background-color: #1C1F32;
}
