/* 投资理财重置element ui样式 */
.finance-box .finance-form-header .el-input__inner{
    color:#338FF5;
    background-color: transparent;
    font-size: 20px;
    width: 168px;
    height:48px;
    background:linear-gradient(180deg,rgba(51,143,245,0.1) 0%);
    border-radius:2px;
    border:1px solid #338FF5;
    box-shadow:0px 2px 2px rgba(13,17,25,1);
}
.finance-box .el-tabs__active-bar{
    background:none!important;
}
.finance-box .el-tabs__nav{
    width: 300px;
    font-weight:bold;
    color:rgba(97,116,153,1);
    padding:9px 0px 9px 26px;
    background:linear-gradient(90deg,rgba(34,80,135,1),transparent);
}
.finance-box .el-tabs__nav-wrap::after{
    content: "";
    height: 0;
}
.finance-box .el-tabs__item{
    font-size: 22px;
    color: #617499;
}
.finance-box .el-tabs__item.is-active{
    color: #fff;
}
.finance-box .el-tabs__item:hover{
    color:#fff;
}
.finance-box .el-tabs__header{
    margin-bottom: 0px;
}
.finance-box .finance-inner-box .left .left-body .el-input__inner{
    width: 407px;
    height: 48px;
    border-radius: 2px;
    background: #1E2636;
    border: 1px solid #464E5F;
}
.finance-box .nvest-list-body .el-table{
    font-size: 12px;
    color: #A9BED4;
    background: #1c1f32;
    box-shadow:0px 4px 6px rgba(25,30,40,0.5);
}
.finance-box .finance-box .nvest-list-body .el-table th.is-leaf:first-of-type{
    border-bottom-left-radius: 4px;
}
.finance-box .nvest-list-body .el-table th.is-leaf:last-of-type{
    border-bottom-right-radius: 4px;
}
.finance-box .nvest-list-body .el-table tr, .el-table td{
    background: transparent;
}
.finance-box .nvest-list-body .el-table th{
    color:#617499;
    border-top:1px solid #A9BED4;
    background:#1c1f32;
    box-shadow:0px 4px 6px rgba(25,30,40,0.5);
}
.finance-box .nvest-list-body .el-table--enable-row-hover .el-table__body tr:hover>td{
    background:#1E2636;
}
/* 设置全局分页剧中 */
.finance-box .el-table__body-wrapper{
    min-height: 480px;
}
.finance-box .el-table__header{
  margin-bottom:10px;
}
.finance-box .el-button{
    border: none;
}
.finance-box .el-table__empty-block{
    height: 480px;
    line-height: 480px;
}
.finance-box .el-dialog{
    background: #28334a;
}
.finance-box .el-dialog__header{
    background: #20293C;
    box-shadow:0px 1px 2px 0px rgba(29,33,49,1);
}
.finance-box .el-dialog__title,
.finance-box .el-dialog__headerbtn .el-dialog__close{
    color: #fff;
}
.finance-box .dialogStyle .el-dialog__body{
    height: 380px;
    overflow:auto;
}
.finance-box .el-dialog__body,
.finance-box .el-form-item__label{
    color: #8C99B4!important;
}
.finance-box .finance-inner-box .dialogStyle .el-input__inner{
   width: 250px!important;
   height: 38px!important;
   background: transparent!important;
   border: none!important;
   line-height: 38px;
}
.finance-box .finance-inner-box .dialogStyle .el-input {
    width: 240px;
}
.finance-box .finance-inner-box .dialogStyle .invest-mounte{
    background: #20273D;
    width: 280px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    padding-right:5px;
    border-radius: 5px;
}
.finance-box .finance-inner-box .el-dialog__wrapper{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.finance-box .finance-inner-box .dialogStyle .invest-mounte:focus{
    border: 1px solid #ccc; 
}
.finance-box .finance-inner-box .dialogStyle .el-button{
    border: 1px solid #338FF5;
    background: none;
    border-radius:4px;
    color: #fff;
    width: 110px;
    height: 40px;
}
.finance-box .finance-inner-box .dialogStyle .el-dialog__footer{
    text-align: center;
}
.finance-box .finance-inner-box .dialogStyle .el-button--primary{
    background:linear-gradient(81deg,rgba(43,57,110,1) 0%,rgba(42,80,130,1) 100%);
    border: none;
    margin-left:40px;
}