/* 投资理财重置element ui样式 */
.finance-box .finance-form-header .el-input__inner{
    color:#338FF5;
    font-size: 20px;
    border-radius: none;
    width: 168px;
    height:48px;
    background:linear-gradient(180deg,rgba(13, 17, 25, 0.5) 0%);
    background:#152337;
    border-radius:2px;
    border:1px solid #338FF5;
}
.finance-box .el-tabs__active-bar{
    background:none!important;
}
.finance-box .el-tabs__nav{
    width: 300px;
    font-weight:bold;
    color:rgba(97,116,153,1);
    padding:9px 0px 9px 26px;
    background:linear-gradient(90deg,rgba(34,80,135,1),transparent);
}
.finance-box .el-tabs__nav-wrap::after{
    content: "";
    height: 0;
}
.finance-box .el-tabs__item{
    font-size: 22px;
}
.finance-box .el-tabs__item.is-active{
    color: #fff;
}
.finance-box .el-tabs__item:hover{
    color:#fff;
}
.finance-box .el-tabs__header{
    margin-bottom: 0px;
}
.finance-box .finance-inner-box .left .left-body .el-input__inner{
    width: 407px;
    height: 48px;
    border-radius: 2px;
    background: #1E2636;
    border: 1px solid #464E5F;
}
.finance-box .nvest-list-body .el-table{
    font-size: 12px;
    color: #A9BED4;
    background: transparent;
}
.finance-box .finance-box .nvest-list-body .el-table th.is-leaf:first-of-type{
    border-bottom-left-radius: 4px;
}
.finance-box .nvest-list-body .el-table th.is-leaf:last-of-type{
    border-bottom-right-radius: 4px;
}
.finance-box .nvest-list-body .el-table tr, .el-table td{
    background: transparent;
}
.finance-box .nvest-list-body .el-table th{
    color:#617499;
    border-top:1px solid #A9BED4;
    background:rgba(30,38,54,1);
}
.finance-box .nvest-list-body .el-table td, .el-table th.is-leaf{
    border-bottom:1px solid #1d2531;
}
.finance-box .nvest-list-body .el-table--enable-row-hover .el-table__body tr:hover>td{
    background:#1E2636;
}
/* 设置全局分页剧中 */
.finance-box .el-table__body-wrapper{
    min-height: 200px;
}