/*覆盖Elenent样式*/
/*点击切换时背景色和字体颜色*/
.coin-orders.personal .el-tabs__item{
  padding: 0;
  width: 105px;
  text-align: center;
}
.coin-orders.personal .el-table th>.cell {
  text-align: center;
}
.coin-orders.personal .el-table th.is-leaf {
  border-bottom: 1px solid rgba(57,66,77,1);
}
.coin-orders.personal .el-table td{
  border-bottom: 0;
}
.coin-orders.personal .el-input__inner{
  width:80px;
  height:30px;
  background:rgba(25,32,46,1);
  border-radius:2px;
  border:none;
}
.coin-orders.personal .el-date-editor.el-input{
  width:170px;
}
.coin-orders.personal .el-date-editor .el-input__inner {
  width:170px;
}
.coin-orders.personal .el-input--suffix .el-input__inner{
  padding-right:0px;
  font-size: 12px;
}
.coin-orders.personal .el-date-editor .el-input__icon{
  line-height: 1;
}
.coin-orders.personal .el-table td,
.coin-orders.personal .el-table th{
  padding:0;
  height:30px;
  line-height:30px;
}
.coin-orders.personal .el-table{
  font-size: 12px;
}
.coin-orders.personal .el-table .cell {
  text-align: center;
  padding: 12px 0;
}
.coin-orders.personal .el-table .cell,
.coin-orders.personal .el-table th div{
  padding-right:0;
}
.coin-orders.personal .el-table td{
  border-bottom:none;
}
.coin-orders.personal .el-pagination{
  text-align: right;
}
/*.coin-orders.personal .el-table th.is-leaf {*/
  /*border-bottom: none;*/
/*}*/
/*.coin-orders.personal*/
/*.coin-orders.personal*/
/*.coin-orders.personal*/
/*.coin-orders.personal*/
/*.coin-orders.personal*/
/*.coin-orders.personal*/
/*.coin-orders.personal*/
/*.coin-orders.personal*/
