/*覆盖Elenent样式*/
/*点击切换时背景色和字体颜色*/
.fiat-orders.personal .el-tabs__item{
  padding: 0;
  width: 105px;
  text-align: center;
}
.fiat-orders.personal .el-tabs__item.is-active {
  border-left: 0;
}
.fiat-orders.personal .el-tabs__item:hover {
  border-left: 0;
}
/*覆盖element样式*/
.fiat-orders.personal .el-input__inner {
  width: 100px;
  height: 30px;
  border: 0;
}
.fiat-orders.personal .el-date-editor.el-input {
  width: 130px;
  height: 30px;
}
.fiat-orders.personal .el-date-editor .el-input__inner {
  width: 130px;
  height: 30px;
}
.fiat-orders.personal .el-table th>.cell {
  text-align: center;
}
.fiat-orders.personal .el-table .cell {
  text-align: center;
}
.fiat-orders.personal .el-tabs__header {
  padding: 0 25px;
}
.fiat-orders.personal .el-button {
  width: 60px;
  height: 34px;
  padding: 0;
  border: 0;
  margin-left: 77px;
}
/*.fiat-orders.personal .fiat-orders.day*/
