/*
  author: zhaoxinlei
  create: 20190604
  description: 全局 CSS 变量
*/

S_main_content_width = 1300px
S_main_color = #338ff5
S_font_color= #8494a6
S_night_main_bg = #1c1f32
S_error_color = #d45858
S_success_color = #12967e
