/*
  author: zhaoxinlei
  create: 20190604
  description: 全局 CSS 变量
*/

S_main_content_width = 1300px
S_main_color = #338ff5
S_font_color= #8494a6
S_night_main_bg = #1c1f32
S_error_color = #d45858
S_success_color = #12967e
S_day_bg = #fff
S_hover_bg = #21243a
S_night_font_color = #8494a6
S_new_day_bg = #f5f5fa;
// 20190730ren增加
S_otc_red_color = #d45858;
S_otc_green_color = #008069;
S_day_main_text_color = #333;
S_night_main_text_color = #a9bed4;
S_color1 = #2d3651;
S_color2 = #7d90ac;
S_color3 = #dce7f3;
S_color4 = #cfd5df;
S_color5 = #66718f;
S_color6 = #28334a;
S_color7 = #afb5c1;
S_color8 = #212b3f;
S_color9 = #181b2b;
S_color10 = #34415b;

