// 主题颜色
//@primary-color: #338ff5;
//@body-background:#000;
//@background-color-base: #000;
//@selected-color:red;
$mainColor: #338ff5;
$upColor: #d45858;
$downColor: #12967e;
$collectColor: #f5c34a;
$mainNightBgColor: #272b41; // night 主背景色
$mainNightTitleColor: #a9bed4;
$mainContentNightBgColor: #1c1f32; // night 内容背景色
$nightFontColor: #8494a6;
$nightSubNavBgColor: #292e42;
$mainDayBgColor: #fff;
$dayMainTitleColor: #333;
$dayFontColor: #646464;
$headerNavFontColor: #8494a6;
$nightMainTitleColor: #d8d8d8;
$nightBorderColor:#39424d;
$dayInnerBoxBg: #f6f6f6;
$dayMarketPriceBg:#e9edf0;
$nightMarketPriceBg:#2c333a;
$newDayBg: #f5f5fa;
$nightInputBg: #2d3651;
$nightUnitBg: #303f59;
//ren增加白色主题背景色
$mainBgColorOfDay: #f5f5fa; // day 主背景色
$mainColorOfWhite: #fff; // 白色
$borderColorOfDay: #cfd5df;
$fontColorSecondaryOfDay: #7d90ac;
$coinBgColorOfDay: #cbddf4;
$boxShadowColorOfDay: #cfd5df;
$otcGreen: #008069;
//ren增加统一交易密码等提示性弹窗样式颜色
//黑色主题
$dialogColor1: #28334a;
$dialogColor2: #212b3f;
$dialogColor3: #1a2233;
$dialogColor4: #cfd5df;
$dialogColor5: #afb5c1;
$dialogColor6: #485776;
$dialogColor9: #66718f;
$dialogColor10: #34415b;
//白色主题
$dialogColor7: #dce7f3;
$dialogColor8: #ecf1f8;
//ren增加按钮背景颜色类
$nightButtonBgColor1: linear-gradient(90deg, rgba(18, 71, 133, 1) 0%, rgba(42, 59, 97, 1) 100%);
$dayButtonBgColor2: linear-gradient(90deg, rgba(106, 182, 244, 1) 0%, rgba(49, 135, 218, 1) 100%);

// flex 居中对齐
@mixin centerHorizontally {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
