// 主题颜色
//@primary-color: #338ff5;
//@body-background:#000;
//@background-color-base: #000;
//@selected-color:red;
$mainColor: #338ff5;
$upColor: #d45858;
$downColor: #12967e;
$collectColor: #f5c34a;
$mainNightBgColor: #272b41; // night 主背景色
$mainNightTitleColor: #a9bed4;
$mainContentNightBgColor: #1c1f32; // night 内容背景色
$nightFontColor: #8494a6;
$nightSubNavBgColor: #292e42;
$mainDayBgColor: #fff;
$dayMainTitleColor: #333;
$dayFontColor: #646464;
$headerNavFontColor: #8494a6;
$nightMainTitleColor: #d8d8d8;
$nightBorderColor:#39424d;
$dayInnerBoxBg: #f6f6f6;
$dayMarketPriceBg:#e9edf0;
$nightMarketPriceBg:#2c333a;
