/*首页交易区（不分主题）*/
/*tab栏背景*/
.market-list-box.home .el-tabs__nav-scroll{
  height:46px;
  -webkit-background-size: 1130px 46px;
  background-size: 1130px 46px;
  background-position: center center;
  background-image:url(../../../../src/assets/develop/tab-bg.png.png);
}
/*查询币种input框*/
.market-list-box.home .search-box .el-input__inner{
  background-color: transparent;
  outline:none;
  border:none;
  border-radius: 0;
  width:250px;
  height:30px;
}
/*search-box 图标*/
.market-list-box.home .el-input__icon{
  position: absolute;
  color:#fff;
  font-size: 22px;
  right:14px;
  top:-4px;
}
/*tab栏底部边框*/
.market-list-box.home .el-tabs__nav-wrap::after,
.el-tabs__active-bar{
  height:0;
}
/*tab栏每一项*/
.market-list-box.home .el-tabs__item{
  height:35px;
  line-height:35px;
  padding:0 30px !important;
  margin:6px auto;
  transition: color 0s;
  font-size: 16px;
}
/*当前选中tab栏*/
.market-list-box.home .el-tabs__item.is-active{
  border:none;
  color:#fff;
  background: url(../../../../src/assets/develop/tab-active-bg.png) no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
/*tab栏内容区域*/
.market-list-box.home .ivu-tabs .ivu-tabs-tabpane{
  margin-top:30px;
}
/*按钮*/
.market-list-box.home .ivu-btn-primary{
  background-color: transparent;
}

/*表格*/
.market-list-box.home .el-table--enable-row-transition .el-table__body td{
  padding:0;
  box-sizing: border-box;
  height:49px;
}

.market-list-box.home .el-table  th{
  padding:0 14px;
  box-sizing: border-box;
  height:38px;
}
.market-list-box.home .tab-content {
  visibility: inherit !important;
}
.market-list-box.home .el-table .cell,
.market-list-box.home .el-table th div{
  padding:0;
}
.market-list-box.home .ivu-table-large td{
  height: 50px;
  box-sizing: border-box;
}

.market-list-box .ivu-table-body{
  width:956px;
  height:530px !important;
}
/*.market-list-box.home .ivu-table-row{*/
  /*height:50px;*/
/*}*/
/*.market-list-box.home .ivu-table-row>td{*/
  /*padding:0 ;*/
/*}*/
.market-list-box .ivu-table-body>table{
  width:938px !important;
  overflow: hidden;
  /*height:500px;*/
}
.ivu-table-header>table{
  width:950px !important;
}
.ivu-table table{
  table-layout: inherit;
}
.market-list-box.home .ivu-table th:first-of-type>.ivu-table-cell{
  width:98px;
}
.market-list-box.home .ivu-table th:nth-of-type(2)>.ivu-table-cell{
  width:132px;
}
.market-list-box.home .ivu-table th:nth-of-type(3)>.ivu-table-cell{
  width:112px;
}

.market-list-box.home .ivu-table th:nth-of-type(4)>.ivu-table-cell{
  width:112px;
}
.market-list-box.home .ivu-table th:nth-of-type(5)>.ivu-table-cell{
  width:88px;
}
.market-list-box.home .ivu-table th:nth-of-type(6)>.ivu-table-cell{
  width:52px;
}
.market-list-box.home .ivu-table th:nth-of-type(7)>.ivu-table-cell{
  width:92px;
}
.market-list-box.home .ivu-table th:nth-of-type(8)>.ivu-table-cell{
  width:36px;
}
.market-list-box.home .el-button.more-btn{
  color:#fff;
  width:115px;
  height:35px;
  line-height:35px;
  padding:0;
  border-radius: 10px;
}
.market-list-box.home .el-button,
.market-list-box.home .ivu-table,
.market-list-box.home .ivu-table th,
.market-list-box.home .ivu-table td{
  background-color: transparent;
}

.market-list-box.home .ivu-table-wrapper{
  border:none;
  right:-4px;
  bottom:-2px;
  border-top:1px solid #566AD4;
  box-sizing: border-box;
}
.market-list-box.home .collected{
  color:#f5c34a;
}

.market-list-box.home .el-table::before{
  height:0;
}
.market-list-box.home .el-table th{
  border-top:1px solid #2f3a8c;
}
/*排序箭头*/
.market-list-box.home .el-table .sort-caret{
  border-width: 4px;
}
.market-list-box.home .el-table .sort-caret.ascending{
  top:8px;
}
.market-list-box.home .el-table .sort-caret.descending{
  bottom:8px;
}
/*交易对颜色*/
.market-list-box.home .el-table .sellname,
.market-list-box.home .el-table .area
{
  /*color:#fff;*/
  color:#646464;
}
