/* 首页轮播图（不分主题） */
.slider-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, .8);
  transition: all 1s;
}

.slider-pagination-bullet-active {
  width: 27px;
  border-radius: 6px;
}
