/* 完成订单组件样式重写 */
.otc-completed-order-box .completed-order-content .el-table__expanded-cell {
  /* background-color: #1E2636; */
}
.otc-completed-order-box .completed-order-content .el-table th{
  padding: 5px 0;
  /* box-shadow: 4px 4px 6px #191E28; */
}
.otc-completed-order-box .completed-order-content .el-table{
  /* color: #9DA5B3; */
}
.otc-completed-order-box .completed-order-content .el-table--enable-row-hover .el-table__body tr:hover>td {
  /* background-color: #1E2636; */
}
.otc-completed-order-box .completed-order-content .el-table__header{
  margin-bottom: 5px;
}
.otc-completed-order-box .completed-order-content .el-table{
  /* background-color: #1D2331; */
}
.otc-completed-order-box .completed-order-content .el-table th.is-leaf{
  /* border-bottom: 1px solid #262F38; */
  /* border-top: 1px solid #262F38; */
}
.otc-completed-order-box .completed-order-content .el-table__body{
  border-collapse: separate !important;
}
.otc-completed-order-box .completed-order-content.el-table{
  border-collapse: separate !important;
}
.otc-completed-order-box .completed-order-content .el-table__expanded-cell{
  /* border-bottom:25px solid #121824; */
}
.otc-completed-order-box .completed-order-content .el-icon-arrow-right:before {
  content: " ";
}
.otc-completed-order-box .completed-order-content .el-table_2_column_9 .el-table__expand-column .is-leaf{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.otc-completed-order-box .completed-order-content .el-table th.is-leaf:first-of-type{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* border-left: 1px solid #262F38; */
}
.otc-completed-order-box .completed-order-content .el-table th.is-leaf:nth-last-of-type(2){
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-right: 1px solid #262F38; */
}
.otc-completed-order-box .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type{
  border-top-left-radius: 5px;
}
.otc-completed-order-box .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell{
  border-top-left-radius: 0px;
  /* border-top: 0px solid #262F38; */
}
.otc-completed-order-box .completed-order-content .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1){
  border-top-right-radius: 5px;
}
.otc-completed-order-box .completed-order-content .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1).el-table__expanded-cell{
  border-top-right-radius: 0px;
}
.otc-completed-order-box .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell ::after{
  content: '';
  width: 1045px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: -10px;
  /* background-color: #1E2636; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-bottom: 1px solid #262F38; */
}
.otc-completed-order-box .completed-order-content .el-table--enable-row-transition .el-table__body td{
  /* border-top: 1px solid #262F38; */
}
.el-table td {
  /* border-bottom: 1px solid #262F38; */
}
.otc-completed-order-box .completed-order-content .el-table__empty-block {
  min-height: 432px;
  background-color: #1E2636;
}