/* 商家订单样式重置 */
/* 1.0筛选条件中的下拉框样式 */
.otc-merchants-orders-box .style-input .el-select{
  width: 100px;
}
.otc-merchants-orders-box .status-input .el-select{
  width: 100px;
}
.otc-merchants-orders-box .date-picker .el-date-editor.el-input{
  width: 135px;
}
.otc-merchants-orders-box .el-input__inner {
  height: 34px;
  background-color: #1E2636;
  border: 0;
}
.otc-merchants-orders-box .el-input__icon{
  height: 34px;
}
/*2.0查询按钮样式*/
.otc-merchants-orders-box .inquire-button .el-button{
  padding: 9px 20px;
}
/*3.0广告列表表格样式*/
.otc-merchants-orders-box .orders-main-bottom .el-table__header{
  margin-bottom: 10px;
}
.otc-merchants-orders-box .orders-main-bottom .el-table{
  background-color: #1E2636;
  color: #9DA5B3;
}
.otc-merchants-orders-box .orders-main-bottom .el-table tr{
  background-color: #1E2636;
  height: 40px;
}
.otc-merchants-orders-box .orders-main-bottom .el-table th{
  background-color: #1E2636;
  padding: 5px 0;
  box-shadow: 4px 4px 6px #191E28;
}
.otc-merchants-orders-box .orders-main-bottom .el-table td{
  border-bottom: 0;
  padding: 0 0;
}
.otc-merchants-orders-box .orders-main-bottom .el-table__empty-block{
  min-height: 500px;
}
/* 重置饿了么表格中边框的样式和边框的圆角 开始 */
.otc-merchants-orders-box .orders-main-bottom .el-table .el-table__body tr td:first-of-type  {
  border-left: 1px solid #262F38;
}
.otc-merchants-orders-box .orders-main-bottom .el-table .el-table__body tr td:last-of-type  {
  border-right: 1px solid #262F38;
}
.otc-merchants-orders-box .orders-main-bottom .el-table .el-table__body tr:last-of-type td  {
  border-bottom: 1px solid #262F38;
}
.otc-merchants-orders-box .orders-main-bottom .el-table .el-table__body tr:last-of-type td:last-of-type  {
  /* border-bottom: 1px solid red; */
  border-bottom-right-radius: 5px;
}
.otc-merchants-orders-box .orders-main-bottom .el-table .el-table__body tr:last-of-type td:first-of-type  {
  /* border-bottom: 1px solid red; */
  border-bottom-left-radius: 5px;
}
/* 重置饿了么表格中边框的样式和边框的圆角 结束 */
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #1E2636;
}
.otc-merchants-orders-box .orders-main-bottom .el-table th.is-leaf {
  border-bottom: 1px solid #262F38;
  border-top: 1px solid #262F38;
}
.otc-merchants-orders-box .orders-main-bottom .el-table th.is-leaf:first-of-type{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #262F38;
}
.otc-merchants-orders-box .orders-main-bottom .el-table th.is-leaf:nth-last-of-type(2){
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #262F38;
}
/* 4.0 */
