/* otc发布购买和出售样式重置 */
/* 文本域 */
.otc-publish-buy-and-sell-box .el-textarea__inner{
    resize: none;
    width: 588px;
    height: 100px;
    border: 0;
    margin-bottom: 10px;
}
/* 表单 */
.otc-publish-buy-and-sell-box .el-form--label-top .el-form-item__label{
  padding: 0 0;
}
.otc-publish-buy-and-sell-box .el-form--label-top .el-form-item{
  margin-bottom: 0;
}
.otc-publish-buy-and-sell-box .el-form--label-top .el-form-item__content{
  line-height: 30px;
}
.otc-publish-buy-and-sell-box .el-form--label-top .el-button--mini{
  padding: 4px 8px;
}
/*select选择框*/
.otc-publish-buy-and-sell-box .buy-sell-submit-form .el-input--suffix .el-input__inner{
  height: 36px;
  line-height: 36px;
}
.otc-publish-buy-and-sell-box .buy-sell-submit-form .el-input__inner{
  /* background-color: #333A41; */
  border: 0;
}
/* 输入密码弹出框 */
.otc-publish-buy-and-sell-box .password-dialog .el-dialog{
  border-radius: 4px;
  width: 350px;
  height: 207px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__header{
  padding: 10px 20px 10px;
  border-radius: 4px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__title{
  font-size: 14px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__headerbtn{
  top: 15px;
  right: 10px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__body{
  font-size: 12px;
  padding: 15px 20px 10px 30px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__body .input{
  margin-top: 13px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__body .password-input{
  display: inline-block;
  width: 280px;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 10px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__body .error-info{
  font-size: 12px;
  height: 20px;
  padding-top: 5px;
}
.otc-publish-buy-and-sell-box .password-dialog .el-dialog__footer{
  text-align: center;
  padding: 0;
}
.otc-publish-buy-and-sell-box .password-dialog .el-button{
  width: 290px;
  padding: 7px 20px;
  border:0;
}