/* 发布广告样式重置 */
.otc-publish-AD-box .right-style .el-select {
  width: 140px;
}

.otc-publish-AD-box .right-change .el-select {
  width: 180px;
}

.otc-publish-AD-box .choice .el-input__inner {
  height: 36px;
  border: none;
}

.otc-publish-AD-box .trade-way .el-checkbox-group {
  margin-top: 15px;
}

/* 文本域 */
.otc-publish-AD-box .el-textarea__inner {
  width: 580px;
  height: 100px;
  margin-bottom: 10px;
  border: 0;
  resize: none;
  font-size: 14px;
}

/* 复选框 */
.otc-publish-AD-box .trade-way .el-checkbox__inner::after {
  border: 1px solid #1f90ea;
  border-top: 0;
  border-left: 0;
}

/* 输入密码弹出框 */
.otc-publish-AD-box .password-dialog .el-dialog {
  width: 350px;
  height: 207px;
  border-radius: 4px;
}

.otc-publish-AD-box .password-dialog .el-dialog__header {
  padding: 10px 20px;
  border-radius: 4px;
}

.otc-publish-AD-box .password-dialog .el-dialog__title {
  font-size: 14px;
}

.otc-publish-AD-box .password-dialog .el-dialog__headerbtn {
  top: 15px;
  right: 10px;
}

.otc-publish-AD-box .password-dialog .el-dialog__body {
  padding: 15px 20px 10px 30px;
  font-size: 12px;
}

.otc-publish-AD-box .password-dialog .el-dialog__body .input {
  margin-top: 13px;
}

.otc-publish-AD-box .password-dialog .el-dialog__body .password-input {
  display: inline-block;
  width: 280px;
  height: 36px;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.otc-publish-AD-box .password-dialog .el-dialog__body .error-info {
  height: 20px;
  padding-top: 5px;
  font-size: 12px;
}

.otc-publish-AD-box .password-dialog .el-dialog__footer {
  padding: 0;
  text-align: center;
}

.otc-publish-AD-box .password-dialog .el-button {
  width: 290px;
  padding: 7px 20px;
  border: 0;
}
