/* HeaderCommon 黑色主题*/
.nav-box.night.common .ivu-radio-group-button .ivu-radio-wrapper {
  border: 1px solid #282e43;
  color: #8494a6;
  background-color: #181D2E;
}

.nav-box.night.common .ivu-modal-header-inner {
  color: #8494a6;
}

.nav-box.night.common .title {
  color: #8494a6;
}

.nav-box.night.common .ivu-modal-header {
}

.nav-box.night.common .ivu-modal-body,
.nav-box.night.common .ivu-modal-footer {
  background-color: #1c2237;
}

.nav-box.night.common .ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder
  /*.nav-box.night.common .ivu-modal-wrap **/
{
  background-color: #181d2e;
}

.nav-box.night.common .ivu-select-selection > div {
  border: 1px solid #282e43;
  background-color: #1c2237;
}

.night .el-select-dropdown__list {
  background-color: #181d2e;
}
.night .el-select-dropdown{
  border-color:#282E43;
}

.nav-box.common .ivu-select-item {
  /*color:;*/
}
.nav-box.common.night .ivu-select-item:hover {
  background-color: rgba(51, 143, 245, .05);
  color: #fff;
}
.night .el-select-dropdown__item.hover,
.night .el-select-dropdown__item:hover{
  background-color: #282E43;
  color:#fff;
}
.night .el-input__inner{
  color:#DEE1EA;
}
.nav-box.common.night .ivu-modal-content {
  background-color: transparent;
}
.nav-box.common.night .el-radio-button__inner{
  background-color: #181d2e;
  border-color:#282e43;
  color:#B8BDD0;
}

.nav-box.common.night .ivu-modal-close .ivu-icon-ios-close:hover {
  color: #fff;
}

.nav-box.common.night .ivu-select-item-focus {
  color: #595e72;
}

.nav-box.common.night .ivu-modal-header {
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

/*弹出框*/
.nav-box.common.night .el-dialog {
  background-color: #1C2237;
}

.nav-box.common.night .el-dialog__title {
  color: #B8BDD0;
}

/*弹出框头*/
.nav-box.common.night .el-dialog__header {
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  background-color: #1D2131;
}

.nav-box.common.night .el-dialog__body > p {
  color: #B8BDD0;
}

.nav-box.common.night .el-input__inner {
  border-color: #282E43;
  background-color: #181d2e;
}
