/* HeaderCommon 黑色主题 */
.nav-box.night.common .title {
  color: #8494a6;
}

.night .el-select-dropdown {
  border-color: #282e43 !important;
}

.night .el-input__inner {
  color: #dee1ea;
}

.nav-box.common.night .el-radio-button__inner {
  border-color: #282e43;
  color: #b8bdd0;
  background-color: #181d2e;
}

/* 弹出框 */
.nav-box.common.night .el-dialog {
  background-color: #1c2237;
}

.nav-box.common.night .el-dialog__title {
  color: #b8bdd0;
}

/* 弹出框头 */
.nav-box.common.night .el-dialog__header {
  background-color: #1d2131;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.nav-box.common.night .el-dialog__body > p {
  color: #b8bdd0;
}

.nav-box.common.night .el-input__inner {
  border-color: #282e43;
  background-color: #181d2e;
}
