/* 个人中心白色主题 */
.add-payment.personal.day .el-textarea__inner {
  border: 1px solid rgba(236, 241, 248, 1);
  color: #333;
  background: rgba(255, 255, 255, 1);
}

.add-payment.personal.day .el-textarea__inner:focus {
  border: 1px solid #338ff5;
}

.add-payment.personal.day .el-form-item__label {
  color: #7d90ac;
}
