/*个人中心白色主题*/
.add-account.personal.day .el-form-item__label {
  color: #7D90AC;
  min-width: 140px;
}
.add-chat.chat.day .el-input__inner {
  border: 1px solid #555;
  background-color: transparent;
  color: #000;
}
.add-chat.chat.day .el-input-group__append {
  background-color: #b1b1b1;
  border-color: #364654;
  color: #555;
}
