/* 个人中心白色主题 */
.add-account.personal.day .el-form-item__label {
  color: #7d90ac;
}

.add-chat.chat.day .el-input__inner {
  border: 1px solid #555;
  color: #000;
  background-color: transparent;
}

.add-chat.chat.day .el-input-group__append {
  border-color: #364654;
  color: #555;
  background-color: #b1b1b1;
}
