$mainColor:#338ff5;

$nightInnerBoxBg:#272b41;
$nightTabFontColor:#8494a6;
$nightFontColor: #8494a6;
$nightMainTitleBgColor:#293140;
$nightMainTitleColor:#D8D8D8;
$nightMainContentBgColor:#1e2636;

$nightFontColor:#9c9c9c;

$nightBorderColor:#39424d;
$dayInnerBoxBg: #f6f6f6;
$dayMainBgColor:#fff;
$dayMainTitleColor:#333;
$dayFontColor:#646464;

// 市价交易，限价交易
$dayMarketPriceBg:#e9edf0;
$nightMarketPriceBg:#2c333a;