/*个人中心（黑色主题）*/
.account-assets.personal.night .el-button {
  background-color: transparent;
  color: #3E79D6;
}
.account-assets.personal.night .el-input__inner {
  background-color: #181E24;
  color: #fff;
}
.account-assets.personal.night .el-dialog {
  background-color: #28334A;
}
.account-assets.personal.night .el-dialog__header {
  background-color: #282E43;
}
.account-assets.personal.night .el-dialog__title {
  color: #fff;
}
.account-assets.personal.night  .el-button {
  background: linear-gradient(0deg, #2b396e, #2a5082);
  color: #fff;
}
.account-assets.personal .el-form-item__label {
  color: rgba(255, 255, 255, 0.7);
}
