/*个人中心（黑色主题）*/
.withdrawal-address.personal.night .el-input__inner {
  background-color: #2D3651;
  color: rgba(255,255,255,0.7);
  border: 0;
}
.withdrawal-address.personal.night .el-form-item__label {
  color: rgba(255,255,255,0.7);
}
.withdrawal-address.personal.night .el-table {
  background-color: #1C1F32;
}
.withdrawal-address.personal.night .el-table__header-wrapper {
  background-color: #1C1F32;
}
.withdrawal-address.personal.night .el-table th.is-leaf {
  background-color: #1C1F32;
  border: 0;
}
.withdrawal-address.personal.night .el-table td {
  background-color: #1C1F32;
  border: 0;
}
.withdrawal-address.personal.night .el-table__body tr:hover>td {
  background-color: #1C1F32;
}
.withdrawal-address.personal.night .el-table th>.cell {
  color: #A9BED4;
}
.withdrawal-address.personal.night .el-table .cell {
  color: #9DA5B3;
}
.withdrawal-address.personal.night .el-table__empty-block {
  background-color: #1C1F32;
}
.withdrawal-address.personal.night .el-dialog {
 background-color: #28334A;
}
.withdrawal-address.personal.night .el-button:first-child {
  color: rgba(255,255,255,0.7);
  background:linear-gradient(81deg,rgba(43,57,110,1) 0%,rgba(42,80,130,1) 100%);
}
.withdrawal-address.personal.night .el-table td:nth-child(4)>.cell{
  color: #338FF5;
}
.withdrawal-address.personal.night .withdrawal-dialog .el-dialog__header {
  background-color: #20293C;
}
.withdrawal-address.personal .withdrawal-dialog .el-button {
  background: linear-gradient(0deg, #2b396e, #2a5082);
  color: rgba(255, 255, 255, 0.7);
  border: 0;
}
