.api-management.personal.day .el-form-item__label {
  color: #7D90AC;
}
.api-management.personal.day .el-dialog__header {
  background:rgba(51,143,245,0.1);
  color: #333;
}
.api-management.personal.day .el-dialog__title {
  color: #333;
}
.api-management.personal.day .el-dialog {
  background-color: #fff;
}
.api-management.personal.day .el-table__empty-block {
  background-color: #fff;
}
.api-management.personal.day .el-table th>.cell {
  color: #333;
}
.api-management.personal.day .el-table td {
  border-bottom: 1px solid #FFFFFF;
  padding: 7px 0;
  background-color: #fff;
  color: #7D90AC;
}
