/*个人中心（白色主题）*/
.invitation-promotion.personal.day .el-table th,
.invitation-promotion.personal.day .el-table tr{
  background-color: #fff;
  color: #333;
}
.invitation-promotion.personal.day .el-table thead {
  color: #fff;
}
.invitation-promotion.personal.day .el-table th.is-leaf {
  border-bottom: 0;
}
.invitation-promotion.personal.day .el-table td{
  border-bottom: 0;
  color: #333;
}
.invitation-promotion.personal.day .el-table{
  color: #fff;
}
.invitation-promotion.personal.day .el-table th>.cell.highlight{
  color: #b1b1b1;
}
.invitation-promotion.personal.day .el-input__inner{
  background:rgba(236,244,254,1);
  border: 0;
  color: #333;
}
.invitation-promotion.personal.day .el-input__inner:focus {
  border: 0;
}
.invitation-promotion.personal.day .el-table th>.cell {
  color: #333;
}
.invitation-promotion.personal.day .el-table .cell {
  color: #333;
}
.invitation-promotion.personal.day .el-form-item__label {
  color: #7D90AC;
}
