/*个人中心（白色主题）*/
.security-center.personal.day .el-table th, .el-table tr{
  background-color: #CCCCCC;
}
.security-center.personal.day .el-table thead {
  color: #CCCCCC;
}
.security-center.personal.day .el-table th.is-leaf {
  background-color: #fff;
  border-bottom: 1px solid #FFFFFF;
  color: #333;
}
.security-center.personal.day .el-table td{
  border-bottom: 1px solid #FFFFFF;
  padding: 7px 0;
  background-color: #fff;
  color: #7D90AC;
}
.security-center.personal.day .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #fff;
}
.security-center.personal.day .el-table{
  color: #fff;
}
.security-center.personal.day .el-table th>.cell.highlight{
  color: #b1b1b1;
}
/*tabs切换*/
.security-center.personal.day .el-tabs__item.is-active{
  background-color: transparent;
  border-left: 0;
  color: #338FF5;
  border-bottom: 2px solid #338FF5;
}
.security-center.personal.day .el-tabs__item:hover {
  background-color: #fff;
  /*border-bottom: 2px solid #338FF5;*/
}
