/* 个人中心（白色主题） */
.security-center.personal.day .el-table th,
.security-center.personal.day .el-table tr {
  background-color: #ccc;
}

.security-center.personal.day .el-table thead {
  color: #ccc;
}

.security-center.personal.day .el-table th.is-leaf {
  border-bottom: 1px solid #fff;
  color: #333;
  background-color: #fff;
}

.security-center.personal.day .el-table td {
  padding: 7px 0;
  border-bottom: 1px solid #fff;
  color: #7d90ac;
  background-color: #fff;
}

.security-center.personal.day .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #fff;
}

.security-center.personal.day .el-table {
  color: #fff;
}

.security-center.personal.day .el-table th > .cell.highlight {
  color: #b1b1b1;
}

/* tabs切换 */
.security-center.personal.day .el-tabs__item.is-active {
  border-bottom: 2px solid #338ff5;
  border-left: 0;
  color: #338ff5;
  background-color: transparent;
}

.security-center.personal.day .el-tabs__item:hover {
  background-color: #fff;
}

.security-center.personal.day .el-dialog__header {
  background: rgba(51, 143, 245, .1);
}
