/* 消息弹窗 */
.el-message {
  top: 40%;
  min-width: 0;
}

/* 全局二次弹窗样式 */
.el-message-box__header {
  padding: 0;
}

.el-message-box {
  width: 300px;
  height: 190px;
  border: 0;
  background: rgba(40, 51, 74, 1);
}

.el-message-box__headerbtn .el-message-box__close {
  display: none;
}

.el-message-box__btns button {
  width: 80px;
  height: 36px;
  border: 0;
}

.el-message-box__content {
  padding: 45px 15px 25px;
}

.el-message-box__message p {
  font-size: 14px;
  text-align: center;
}

.el-message-box__btns button:nth-child(2) {
  margin-left: 44px;
  border-radius: 4px;
}

.el-message-box__btns {
  margin-top: 10px;
  text-align: center;
}

.el-message-box__status + .el-message-box__message {
  padding-left: 0;
}
