/**
  HeaderCommon修改element通用样式（不分主题）
 */

/*.nav-box.common .ivu-modal-content {*/
  /*!*background-color: transparent;*!*/
  /*overflow: hidden;*/
/*}*/

/*.nav-box.common .ivu-modal-close {*/
  /*top: -10px;*/
/*}*/

.nav-box.common .el-dialog__header,
.nav-box.common .el-dialog__body {
  padding: 0 40px;
}
.nav-box.common .el-dialog__header{
  height:44px;
  line-height:44px;
}
.nav-box.common .el-dialog{
  border-radius: 10px;
  overflow: hidden;
  height:380px;
}
.v-modal{
  /*position: relative;*/
  z-index: 2000 !important;
}
.el-select-dropdown{
  z-index: 2100 !important;
}
.nav-box.common .el-dialog__body>p{
  line-height:70px;
}
.nav-box.common .el-dialog__footer {
  border: none;
  padding: 35px 40px;
}
.nav-box.common .el-dialog__footer .el-button{
  width:100%;
  background: linear-gradient(to left,#2a5082,#2b396e);
  border:none;
}
.nav-box.common .el-dialog__title{
  font-size:20px;
}
.nav-box.common .el-select{
  width:100%;
}

.nav-box.common .el-input--suffix .el-input__inner,
.nav-box.common .el-select-dropdown__item selected hover,
.nav-box.common .el-radio-button__inner,
.nav-box.common .el-select-dropdown__item{
  height: 44px;
  line-height: 44px;
  width:100%;
}
.nav-box.common .el-radio-button__inner{
  width:110px;
  padding:0;
  margin-right:44px;
  border-radius: 4px;
  border:1px solid #c3c8cd;
}
/*单选框选中*/
.nav-box.common .el-radio-button__orig-radio:checked+.el-radio-button__inner{
  box-shadow:none;
  border:1px solid #338ff5;
}
/*单选框选中背景*/
.nav-box.common .el-icon-check{
  position: absolute;
  right: 0;
  top:0;
  background-color: #338ff5;
  padding:2px 2px 5px 5px;
  border-bottom-left-radius: 2em;
  color:#fff;
}
/*下拉箭头*/
.el-popper[x-placement^=bottom] .popper__arrow{
  border-bottom-color:transparent;
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
  border:none;
}

/*.ivu-btn-large {*/
  /*padding: 10px 15px;*/
/*}*/

/*.ivu-modal-header-inner {*/
  /*font-size: 16px;*/
  /*!*color:#333;*!*/
/*}*/

/*.nav-box.common .ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder{*/
  /*border-radius: 4px;*/
/*}*/

/*.nav-box.common .ivu-select-selection{*/
  /*border:none;*/
/*}*/
/*.ivu-select-selection>div{*/
  /*border-radius: 2px;*/
  /*height:46px;*/
/*}*/
/*.nav-box.common .ivu-modal-header{*/
  /*border:none;*/
  /*!*box-shadow:0px 0px  5px 1px #ddd;*!*/
/*}*/
/*.ivu-select-item-focus{*/
  /*background-color: transparent;*/
/*}*/
/*消息弹窗*/
.el-message {
  min-width: 0;
  top: 40%;
}
