/* 个人中心（白色主题） */
.account-assets.personal.day .el-tabs__nav {
  border: 1px solid rgba(38, 47, 56, .1);
}

.account-assets.personal.day .el-input__inner {
  border: 1px solid rgba(38, 47, 56, .1);
  color: #333;
  background: rgba(51, 143, 245, .1);
}

.account-assets.personal.day .el-select-dropdown__list {
  background: #fff;
}

.account-assets.personal.day .el-select-dropdown__item.hover,
.account-assets.personal.day .el-select-dropdown__item:hover {
  color: #333 !important;
  background: rgba(51, 143, 245, .1);
}

.account-assets.personal.day .el-dialog__header {
  color: #333;
  background: rgba(51, 143, 245, .1);
}

.account-assets.personal.day .el-button {
  background: linear-gradient(81deg, rgba(43, 57, 110, 1) 0%, rgba(42, 80, 130, 1) 100%);
}
