/*个人中心（白色主题）*/
.account-assets.personal.day .el-switch__core::after {
  background-color: #fff;
}
.withdrawal-address.personal.day .el-switch__core::after,
.withdrawal-address.personal.day .el-table,
.withdrawal-address.personal.day .el-table__header-wrapper,
.withdrawal-address.personal.day .el-table th.is-leaf,
.withdrawal-address.personal.day .el-table td {
  background-color: #fff;
}
.el-table td {
  border-bottom: 1px solid #fff;
}
.withdrawal-address.personal.day .el-table__body tr:hover>td {
  background-color: #fff;
}
.withdrawal-address.personal.day .el-table th>.cell {
  color: #333;
}
.withdrawal-address.personal.day .el-table .cell {
  color: #333;
}
.withdrawal-address.personal.day .el-form-item__label {
  color: #7D90AC;
  /* 任增加 */
  margin-right: 50px;
  padding: 0 0;
}
.withdrawal-address.personal .el-input__inner {
  background:rgba(255,255,255,1);
  border:1px solid rgba(236,241,248,1);
}
.withdrawal-address.personal.day .el-table td:nth-child(4) div{
  color: #338FF5;
}
.withdrawal-address.personal .withdrawal-dialog .el-dialog__header {
  background: rgba(51,143,245,0.1);
}
