/* 覆盖Element样式*/
.set-email.personal .el-form-item__content {
  width: 600px;
}
.set-email.personal .el-input__inner {
  height: 36px;
  border-radius: 2px;
}
.set-email.personal .el-input-group {
  width: 220px;
  height: 36px;
  border-radius: 4px;
}
.set-email.personal .el-input-group__append {
  border-left: 0;
  padding: 0 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.set-phone.personal .el-form-item {
  margin-bottom: 30px;
}
