/* 覆盖Element样式 */
.set-email.personal .el-form-item__content {
  width: 600px;
}

.set-email.personal .el-input__inner {
  width: 130px;
  height: 36px;
  border-radius: 2px;
}

.set-email.personal .el-input-group {
  width: 131px;
  height: 36px;
  margin-right: 0;
  border-radius: 4px;
}

.set-email.personal .el-input-group__append {
  padding: 0 16px;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.set-email.personal .el-form-item {
  margin-bottom: 30px;
}

.set-email.personal .el-input-group__append {
  padding: 0;
  background: #338ff5;
}

.set-email.personal .email-content-from .el-form-item .el-form-item__label {
  width: 160px !important;
}
