/* 覆盖Element样式 */
.login-password-box.personal .el-input__inner {
  height: 36px;
  border-radius: 2px 0 0 2px;
}

.login-password-box.personal .el-input-group {
  width: 220px;
  height: 36px;
  border-radius: 4px;
}

.login-password-box.personal .el-form-item__content {
  width: 600px;
}

/* 修改登录密码表单样式重置 */
.login-password-box.personal .login-password-content .login-content-from .el-form .el-form-item .el-form-item__label {
  width: 170px !important;
}
