/* 覆盖Element样式*/
.transaction-password.personal .el-form-item__content {
  width: 600px;
}
.transaction-password.personal .el-input__inner {
  height: 36px;
  border-radius: 2px 0 0px 2px;
  vertical-align: top;
}
.transaction-password.personal .el-input-group {
  width: 220px;
  height: 36px;
  border-radius: 4px;
  margin-right: 0;
}
.transaction-password.personal .el-input-group__append {
  padding: 0;
}
/* 表单label宽度重置 */
.transaction-password.personal .transaction-password-content .transaction-content-from .el-form .el-form-item .el-form-item__label {
  width: 180px !important;
}
