/* 覆盖Element样式*/
.transaction-password.personal .el-form-item__content {
  width: 600px;
}
.transaction-password.personal .el-input__inner {
  height: 36px;
  border-radius: 2px 0 0px 2px;
}
.transaction-password.personal .el-input-group {
  width: 220px;
  height: 36px;
  border-radius: 4px;
}
