/* 折叠面板默认的边框修改 */
.identity-authentication.personal
.el-collapse,
.el-collapse-item__header,
.el-collapse-item__wrap
{
  background-color: transparent;
  border: 0;
}
/*身份认证 折叠框label*/
.identity-authentication.personal.night .el-collapse-item__header {
  padding-left: 15px;
}
