/* tabs组件出现蓝色边框问题 */
.personal-center.personal .el-tabs__active-bar{
  height: 0 !important;
}
.personal-center.personal .el-tabs__nav-wrap::after{
  background-color: transparent;
}
/*做二级导航宽度*/
.personal-center.personal .el-tabs--left .el-tabs__item.is-left{
  width: 165px;
  text-align: left;
}
personal-center.personal .el-tabs__nav{
  height: 495px;
}
.personal-center.personal .el-tabs__item{
  height: 34px;
  line-height: 34px;
  margin: 10px 0;
}
.personal-center.personal .el-tabs--left .el-tabs__header.is-left{
  margin-right: 16px;
}
.personal-center.personal .is-disabled{
  font-size: 18px;
}
