/*normal*/
.chart-page {
  background-color: transparent !important;
}
/*默认时间分辨率隐藏*/
.intervals-container.favored-list-container {
  display: none;
}
.loading-indicator,
.chart-loading-screen
{
  background-color: transparent;
  width:100%;
  height:100%;
  z-index: 0;
  display: none;
}

#loading-indicator {
  background: 0 0;
  /*background-color: pink;*/
  display: none;
}

.chart-page .chart-container{
  border:none;
  background: transparent;
}
.header-chart-panel .button{
  border:none;
  background-color: transparent;
  color:#aaa;
  padding:0 10px;
  height:30px;
  line-height:30px;
  font-size: 14px;
}
.header-chart-panel .button:hover,.header-chart-panel .button.selected{
  /*background-color: pink;*/
  background:rgba(61,80,90,1);
  color:#338FF5 !important;
  cursor: pointer;
}
.header-chart-panel .button:hover svg{
  fill:#338FF5 !important;
}
.button.fullscreen svg,.button.indicators svg,.button.properties svg{
  fill:#aaa;
}
.button.indicators svg{
  margin-top:8px;
}
.header-chart-panel .resolution_btn::before {
  border:none;
}
.feature-no-touch ._tv-dialog .button:not(.disabled):not(.selected):hover:before, .feature-no-touch ._tv-dialog .custom-select .switcher:not(.disabled):not(.selected):hover:before, .feature-no-touch ._tv-dialog .favored-list-container span:not(.disabled):not(.selected):hover:before, .feature-no-touch ._tv-dialog .submenu:not(.disabled):not(.selected):hover:before, .feature-no-touch .bottom-widgetbar-content.backtesting .button:not(.disabled):not(.selected):hover:before, .feature-no-touch .bottom-widgetbar-content.backtesting .custom-select .switcher:not(.disabled):not(.selected):hover:before, .feature-no-touch .bottom-widgetbar-content.backtesting .favored-list-container span:not(.disabled):not(.selected):hover:before, .feature-no-touch .bottom-widgetbar-content.backtesting .submenu:not(.disabled):not(.selected):hover:before, .feature-no-touch .header-chart-panel .button:not(.disabled):not(.selected):hover:before, .feature-no-touch .header-chart-panel .custom-select .switcher:not(.disabled):not(.selected):hover:before, .feature-no-touch .header-chart-panel .favored-list-container span:not(.disabled):not(.selected):hover:before, .feature-no-touch .header-chart-panel .submenu:not(.disabled):not(.selected):hover:before, .feature-no-touch .properties-toolbar .button:not(.disabled):not(.selected):hover:before, .feature-no-touch .properties-toolbar .custom-select .switcher:not(.disabled):not(.selected):hover:before, .feature-no-touch .properties-toolbar .favored-list-container span:not(.disabled):not(.selected):hover:before, .feature-no-touch .properties-toolbar .submenu:not(.disabled):not(.selected):hover:before, .feature-no-touch .widgetbar-widgetheader .button:not(.disabled):not(.selected):hover:before, .feature-no-touch .widgetbar-widgetheader .custom-select .switcher:not(.disabled):not(.selected):hover:before, .feature-no-touch .widgetbar-widgetheader .favored-list-container span:not(.disabled):not(.selected):hover:before, .feature-no-touch .widgetbar-widgetheader .submenu:not(.disabled):not(.selected):hover:before{
  border:none;
}
.night .header-chart-panel .button{
  color:red;
}


/*!*.cme-offer-dialog ._tv-dialog-content ol.tv-text__color_bright,.cme-offer-dialog ._tv-dialog-content p.tv-text__color_bright,.cme-offer-dialog ._tv-dialog-content ul.tv-text__color_bright,.tv-text ol.tv-text__color_bright,.tv-text p.tv-text__color_bright,.tv-text ul.tv-text__color_bright {*!*/
  /*!*color: transparent*!*/
/*!*}*!*/



/*!*.cme-offer-dialog ._tv-dialog-content--darkbg,.cme-offer-dialog ._tv-dialog-content--darkbg ol,.cme-offer-dialog ._tv-dialog-content--darkbg p,.cme-offer-dialog ._tv-dialog-content--darkbg ul,.tv-text--darkbg,.tv-text--darkbg ol,.tv-text--darkbg p,.tv-text--darkbg ul {*!*/
  /*!*color: transparent*!*/
/*!*}*!*/


/*!*._tv-button.active,._tv-button.toolbutton.active,.feature-no-touch ._tv-button.toolbutton:active,.feature-no-touch ._tv-button:active:not([disabled]),.feature-no-touch .tv-select-container:active,.feature-touch ._tv-button.toolbutton:active,.feature-touch ._tv-button:active:not([disabled]),.feature-touch .tv-select-container:active,.tv-select-container.sbHolderOpen {*!*/
  /*!*background: transparent;*!*/
  /*!*color: #3bb3e4*!*/
/*!*}*!*/



/*!*._tv-button.ok {*!*/
  /*!*min-width: 30px;*!*/
  /*!*border-color: transparent!important;*!*/
  /*!*color: transparent!important*!*/
/*!*}*!*/


/*._tv-button.theblueone {*/
  /*color: transparent!important;*/
/*}*/
/*._tv-button.cancel {*/
  /*color: transparent!important*/
/*}*/
/*._tv-button.delete {*/
  /*color: transparent!important*/
/*}*/
/*._tv-button.green {*/
  /*color: transparent!important*/
/*}*/
/*.tv-select-container.sbHolderDisabled {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-select-container .sbOptions,.tv-unstyled-select-container .sbOptions {*/
  /*background: transparent;*/
/*}*/
/*.tv-text-input.inset {*/
  /*background: transparent*/
/*}*/
/*.chart-page .chart-container {*/
  /*background: transparent*/
/*}*/
/*.falling,.growing,.search-results .symbol-last.falling,.search-results .symbol-last.growing {*/
  /*color: transparent*/
/*}*/
/*#chart-area .chart-promo,#chart-container .chart-promo,.tv-chart-view__chart-inner .chart-promo {*/
  /*background: transparent;*/
/*}*/
/*._tv-dialog {*/
  /*background: transparent;*/
/*}*/
/*._tv-dialog-content .main-browser-extension .install-extension button {*/
  /*color: transparent;*/
/*}*/
/*._tv-dialog-content ._tv-dialog-checkbox-mask.radio {*/
  /*background-color: transparent ;*/
/*}*/
/*._tv-dialog-content form input:not(.tv-control-input)[type=text],._tv-dialog-content form input[type=password],._tv-dialog-text-input {*/
  /*background-color: transparent;*/
/*}*/
/*._tv-dialog-content form input:not(.tv-control-input)._tv-dialog-content-textactive,.feature-no-touch ._tv-dialog-text-input:focus,.feature-touch ._tv-dialog-text-input:focus {*/
  /*background: transparent;*/
/*}*/
/*._tv-dialog-text-input._tv-dialog-text-input-error {*/
  /*background: transparent;*/
/*}*/

/*._tv-dialog-content textarea {*/
  /*background: transparent*/
/*}*/

/*._tv-dialog-content ._tv-dialog-button-blue {*/
  /*color: transparent;*/
/*}*/
/*.feature-no-touch ._tv-dialog-content ._tv-dialogs-bottom-button .repost-to .label:hover {*/
  /*background: transparent*/
/*}*/

/*.feature-no-touch .auth-dialog .auth-dialog-socials a:hover svg {*/
  /*fill: transparent!important*/
/*}*/
/*.auth-dialog ._tv-dialog-content form button:not(.tv-auth-dialog__cancel-btn) {*/
  /*color: transparent*/
/*}*/
/*._tv-dialog-content .big-button ._tv-button {*/
  /*background: transparent*/
/*}*/
/*._tv-dialog-modal.line-tools-warning .buttons .button {*/
  /*color: transparent;*/
/*}*/
/*.publish-direction-buttons ._tv-button {*/
  /*background: transparent;*/
/*}*/
/*.survey-dialog .survey-button {*/
  /*color: transparent;*/
/*}*/
/*.bcd-continue a {*/
  /*color: transparent*/
/*}*/
/*.prorttrial-dialog .big-button.ok,.prorttrial-dialog .big-button.trial,.prorttrial-dialog .big-button.tv-yes-btn,.trialconfirm-dialog .big-button.ok,.trialconfirm-dialog .big-button.trial,.trialconfirm-dialog .big-button.tv-yes-btn {*/
  /*color: transparent*/
/*}*/
/*.prorttrial-dialog .big-button.ordernow,.trialconfirm-dialog .big-button.ordernow {*/
  /*color: transparent*/
/*}*/
/*.prorttrial-dialog .actions-block .yes-button,.trialconfirm-dialog .actions-block .yes-button {*/
  /*color: transparent;*/
/*}*/
/*#publish-chart-form input,#publish-chart-form textarea {*/
  /*background-color: transparent*/
/*}*/
/*._tv-dialog.change-interval-dialog ._tv-dialog-content .change-interval-input {*/
  /*background-color: transparent;*/
/*}*/
/*._tv-dialog-charting-library form .dropzone {*/
  /*background: transparent;*/
/*}*/
/*._tv-dialog.bug-report-dialog ._tv-dialog-content table td .tv-select-container {*/
  /*background-color: transparent*/
/*}*/
/*._tv-dialog.send-message-dialog {*/
  /*background-color: transparent;*/
/*}*/
/*._tv-dialog.pine-reference-dialog ._tv-dialog-content .search-toc-container .toc-wrap .toc-data li.group .group-title.sticky {*/
  /*background-color: transparent;*/
/*}*/
/*.copy-image-url .copy-clipboard-button {*/
  /*background: transparent*/
/*}*/
/*.charts-popup-list {*/
  /*background: transparent;*/
/*}*/

/*.tv-button--default,.tv-button--default_ghost {*/
  /*color: transparent;*/
  /*border-color: transparent;*/
  /*background-color: transparent*/
/*}*/
/*.tv-button--default_ghost.i-checked {*/
  /*color: transparent;*/
  /*border-color: transparent;*/
  /*background-color: transparent*/
/*}*/
/*.tv-button__loader-item {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-control-input {*/
  /*background-color: transparent;*/
/*}*/

/*.bottom-widgetbar-content.backtesting .button,.header-chart-panel .button,.hotlist-controls .button,.symbol-edit-widget .button {*/
  /*background: transparent;*/
/*}*/

/*.symbol-search-dialog .symbol-block input,input.symbol-edit {*/
  /*background-color: transparent;*/
/*}*/
/*.symbol-edit-history-popup {*/
  /*background: transparent;*/
/*}*/

/*.symbol-search-dialog .symbol-block .spread-actions {*/
  /*background: transparent*/
/*}*/
/*.spread-actions {*/
  /*background: transparent;*/
/*}*/

/*.button .sepapator,.save-load-buttons .title {*/
  /*background-color: transparent;*/
  /*color: #7d7d7d*/
/*}*/

/*.favored-list-container span {*/
  /*background: transparent;*/
 /*}*/

/*.save-load-buttons>span {*/
  /*background: transparent;*/
/*}*/
/*.layout-toggle-container ._tv-button {*/
  /*background: transparent;*/
/*}*/


/*.layout-widget {*/
  /*background: transparent;*/
/*}*/


/*.context-menu-wrapper {*/
  /*background-color: transparent;*/
/*}*/
/*.submenu.center {*/
  /*background-color: transparent*/
/*}*/

/*.context-menu .action-separator td {*/
  /*background-color: #dadde0;*/
/*}*/
/*.chart-header {*/
  /*background-color: transparent;*/
  /*color: transparent*/
/*}*/

/*.chart-header-form {*/
  /*background-color: transparent;*/
/*}*/

/*.chart-data-window {*/
  /*background-color: transparent;*/
/*}*/


/*.custom-select {*/
  /*background-color: transparent;*/
/*}*/

/*.custom-select .items {*/
  /*background: transparent;*/
/*}*/

/*.chart-note-tooltip .chart-note-tooltip-body {*/
  /*background-color: transparent;*/
/*}*/

/*.themesMenu {*/
  /*background: transparent;*/
  /*left: 100px*/
/*}*/

/*.tvcolorpicker-popup {*/
  /*background: transparent;*/
/*}*/

/*.panel-ext {*/
  /*background: transparent*/
/*}*/

/*.feature-no-touch .panel-ext:hover {*/
  /*background: transparent;*/
/*}*/

/*.onchart-message-bottom,.onchart-message-top {*/
  /*background: transparent;*/
/*}*/

/*.sb-inner-shadow {*/
  /*background: transparent;*/
/*}*/

/*.wl-symbol-edit {*/
  /*background: transparent;*/
/*}*/

/*.ui-widget-content {*/
  /*background: transparent 50% 50% repeat-x;*/
/*}*/

/*.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {*/
  /*background: transparent 50% 50% repeat-x;*/
/*}*/

/*.ui-datepicker td a,.ui-datepicker td a.ui-state-default,.ui-datepicker td span,.ui-datepicker td span.ui-state-default {*/
  /*background: transparent;*/
/*}*/

/*#library-container {*/
  /*background: transparent*/
/*}*/
/*.on-cme-widget .tv-side-toolbar>.cme-saveimage-container {*/
  /*background: transparent*/
/*}*/
/*.on-cme-widget .tv-side-toolbar>.cme-saveimage-container:before {*/
  /*background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,transparent)*/
/*}*/
/*.common-tooltip-wrapper.theme-white .common-tooltip-body {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-control-input,.tv-control-textarea,.tv-dialog__chat-username-input,.tv-dialog__widetextarea {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-dialog__chat-username-input {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-dialog {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-dialog__widetextarea {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-ticker__btn {*/
  /*background: transparent;*/
/*}*/
/*.menu-13SRjx2L- {*/
  /*background-color: transparent;*/
/*}*/
/*.item-3ShHncG0- {*/
  /*background-color: transparent;*/
/*}*/
/*.feature-no-touch .item-3ShHncG0-.isDisabled-1ebe7hp6-:active,.feature-no-touch .item-3ShHncG0-.isDisabled-1ebe7hp6-:hover,.feature-touch .item-3ShHncG0-.isDisabled-1ebe7hp6-:active,.item-3ShHncG0-.isDisabled-1ebe7hp6- {*/
  /*background-color: transparent*/
/*}*/
/*.drawingToolbar-2CoOuCv8- {*/
  /*background-color: transparent*/
/*}*/
/*.tv-dropdown__body {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-dropdown__body {*/
  /*background-color: transparent;*/
/*}*/
/*.form-bYALUAA-- .copyForm-11zYGUUD- .copyBtn-15A10th9- {*/
  /*background: transparent;*/
/*}*/
/*.tv-search-row__input {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-insert-indicator-dialog__search-control {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-insert-indicator-dialog__search-control input {*/
  /*background-color: transparent*/
/*}*/
/*.tv-button--default,.tv-button--default_ghost {*/
  /*color: transparent;*/
  /*border-color: transparent;*/
  /*background-color: transparent*/
/*}*/
/*.tv-button--default_ghost.i-checked {*/
  /*color: transparent;*/
  /*border-color: transparent;*/
  /*background-color: transparent*/
/*}*/

/*.tv-button__loader-item {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-floating-toolbar {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-favorited-drawings-toolbar__widget {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-grouped-floating-toolbar__popup {*/
  /*background-color: transparent;*/
/*}*/
/*.tv-grouped-floating-toolbar__widget-wrapper {*/
  /*background-color: transparent;*/
/*}*/
/*.feature-no-touch .tv-grouped-floating-toolbar__widget-wrapper.i-disabled:hover {*/
  /*background-color: transparent*/
/*}*/

