/*首页交易区（night主题）*/
/*tab栏背景*/
.market-list-box.home.night .ivu-tabs-nav-scroll{
  background-color: #1d2331;
}
/*input search 文字*/
.market-list-box.home.night .search-box .ivu-input{
  color:#8494a6;
}
/*tab栏每一项*/
.market-list-box.home.night .ivu-tabs-nav .ivu-tabs-tab{
  color:#8494a6;
}
.market-list-box.home.night .ivu-tabs-nav .ivu-tabs-tab-active{
  color:#fff;
}
.market-list-box.home.night .ivu-table th,
.market-list-box.home.night .ivu-table td {
  border-bottom: 1px solid #222C35;
}
.market-list-box.home.night .ivu-table-cell{
  color:#a0a0a0;
}
.market-list-box.home.night .ivu-table-cell .symbol{
  color:#fff;
}

.market-list-box.home.night .ivu-table{
  background-color: #19222B;
}
