/*首页交易区（night主题）*/
/*tab栏背景*/
.market-list-box.home.night .ivu-tabs-nav-scroll{
  background-color: #1d2331;
}
/*input search 文字*/
.market-list-box.home.night .search-box .ivu-input{
  color:#8494a6;
}
/*tab栏每一项*/
.market-list-box.home.night .ivu-tabs-nav .ivu-tabs-tab{
  color:#8494a6;
}
.market-list-box.home.night .ivu-tabs-nav .ivu-tabs-tab-active{
  color:#fff;
}
