/* 覆盖element样式 */

/* switch开关背景色 */
.credited-credited.personal .el-switch__core {
  border: 0;
  background-color: transparent;
}

.credited-credited.personal .el-switch__core::after {
  z-index: 9;
}

.credited-credited.personal .el-dialog__header {
  height: 0;
  padding: 0;
}

.credited-credited.personal .el-dialog:nth-child(1) {
  top: 15%;
  width: 300px;
  border-radius: 10px;
}

.credited-credited.personal .el-dialog:nth-child(1) .el-dialog__header {
  padding-left: 20px;
  text-align: left;
}

.credited-credited.personal .el-dialog:nth-child(1) .el-dialog__header .el-dialog__title {
  display: inline-block;
  margin: 20px 0;
}

.credited-credited.personal .el-dialog:nth-child(2) {
  top: 15%;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.credited-credited.personal .el-dialog:nth-child(3) {
  top: 15%;
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.credited-credited.personal .el-dialog__close {
  color: transparent;
}

.credited-credited.personal .el-button--primary {
  padding: 7px 28px 8px 29px;
  border: 0;
}

.credited-credited.personal .el-button:first-child {
  height: 35px;
  line-height: 0;
}

.credited-credited.personal .el-dialog__body {
  text-align: center;
  color: #fff;
}
