/*覆盖element样式*/
/*switch开关背景色*/
.credited-credited.personal .el-switch__core {
  background-color: transparent;
  border: 0;
}
.credited-credited.personal .el-switch__core:after{
  z-index: 9;
}
.credited-credited.personal .el-dialog__header {
  height: 0;
  padding: 0;
}
.credited-credited.personal .el-dialog:nth-child(1){
  border-radius: 10px;
  width: 300px;
  /*height: 200px;*/
  top: 15%;
}
.credited-credited.personal .el-dialog:nth-child(1) .el-dialog__header{
  text-align: left;
  padding-left: 20px;
}
.credited-credited.personal .el-dialog:nth-child(1) .el-dialog__header .el-dialog__title{
  display: inline-block;
  margin: 20px 0;
}
.credited-credited.personal .el-dialog:nth-child(2){
  border-radius: 10px;
  width: 300px;
  height: 200px;
  top: 15%;
}
.credited-credited.personal .el-dialog:nth-child(3){
  border-radius: 10px;
  width: 350px;
  height: 300px;
  top: 15%;
}
.credited-credited.personal .el-dialog__close {
  color: transparent;
}
.credited-credited.personal .el-button--primary {
  padding: 7px 28px 8px 29px;
  border: 0;
}
.credited-credited.personal .el-button:first-child {
  /* width: 90px; */
  height: 35px;
  line-height: 0;
}
.credited-credited.personal .el-dialog__body {
  text-align: center;
  /*padding: 25px 25px 30px;*/
  color: #fff;
}
