.api-management.personal .el-table th.is-leaf {
  border-bottom: 0;
}
.api-management.personal .el-table td{
  border-bottom: 0;
}
.api-management.personal .verification-method .el-dialog {
  width: 360px;
}
.api-management.personal .el-dialog:nth-child(2) {
   width: 360px;
   height: 480px !important;
}
.api-management.personal .el-dialog:nth-child(4) {
  width: 300px;
  height: 200px !important;
}
.api-management.personal .el-dialog:last-child
.el-dialog__headerbtn .el-dialog__close {
  display: none;
}
.api-management.personal .secondary-confirmation .el-dialog{
  width: 360px;
}
.api-management.personal .editor .el-dialog{
  width: 360px;
}
.api-management.personal .delete .el-dialog .el-dialog__body {
  text-align: center;
  color: #fff;
}
.api-management.personal .delete .el-dialog .el-button:first-child{
  width:80px;
  height:36px;
  line-height: 0;
  color: #fff;
}
.api-management.personal .delete .el-dialog .el-button:last-child{
  width:80px;
  height:36px;
  line-height: 0;
  border:1px solid rgba(51,143,245,1);
  background-color: #28334A;
  color: #fff;
}
.api-management.personal .el-dialog:last-child .el-button:first-child{
  border: 0;
}
.api-management.personal .el-dialog__header {
  border-radius: 5px 5px 0 0;
  padding: 0 20px 0;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
}
.api-management.personal .el-dialog__headerbtn {
  top: 13px;
}
.api-management.personal .el-form-item__label {
  padding: 0;
}
.api-management.personal .el-dialog__footer {
  padding: 10px 30px 30px;
}
.api-management.personal .el-form-item {
  margin-bottom: 15px;
}
