.api-management.personal .el-table th.is-leaf {
  border-bottom: 0;
}

.api-management.personal .el-table td {
  border-bottom: 0;
}

.api-management.personal .verification-method .el-dialog {
  width: 340px;
}

.api-management.personal .verification-method .el-dialog__body {
  padding: 0 20px;
}

.api-management.personal .el-dialog:nth-child(2) {
  width: 360px;
  height: 480px !important;
}

.api-management.personal .el-dialog:nth-child(4) {
  width: 300px;
  height: 200px !important;
}

.api-management.personal .secondary-confirmation .el-dialog__header {
  padding: 0 40px;
}

.api-management.personal .secondary-confirmation .el-dialog {
  top: 5%;
  width: 380px;
}

.api-management.personal .secondary-confirmation .el-dialog__body {
  padding: 5px 40px;
}

.api-management.personal .secondary-confirmation .el-dialog__footer {
  text-align: center;
}

.api-management.personal .editor .el-dialog__header {
  padding: 0 40px;
  border-radius: 5px 5px 0 0;
}

.api-management.personal .editor .el-dialog {
  width: 380px;
}

.api-management.personal .editor .el-dialog__body {
  padding: 0 40px;
}

.api-management.personal .editor .el-dialog__footer {
  text-align: center;
}

.api-management.personal .delete .el-dialog .el-dialog__body {
  text-align: center;
  color: #fff;
}

.api-management.personal .delete .el-dialog .el-button:first-child {
  width: 80px;
  height: 36px;
  line-height: 0;
  color: #fff;
}

.api-management.personal .delete .el-dialog .el-button:last-child {
  width: 80px;
  height: 36px;
  border: 1px solid rgba(51, 143, 245, 1);
  line-height: 0;
  color: #fff;
  background-color: #28334a;
}

.api-management.personal .el-dialog:last-child .el-button:first-child {
  border: 0;
}

.api-management.personal .el-dialog__header {
  height: 44px;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  line-height: 44px;
}

.api-management.personal .el-dialog__headerbtn {
  top: 13px;
}

.api-management.personal .el-form-item__label {
  padding: 0;
}

.api-management.personal .el-dialog__footer {
  padding: 10px 20px 30px;
}

.api-management.personal .el-form-item {
  margin-bottom: 15px;
}

.api-management.personal .el-table__empty-block {
  width: 100% !important;
  min-height: 92px;
}

/* 备注绑定IP部分样式修复 */
.api-management.personal .invitation-promotion-main .extension-info .extension-info-content .info-content .el-form .el-form-item .el-form-item__label {
  width: 140px !important;
}
