/*覆盖element样式*/
/*.invitation-promotion.personal .el-table th>.cell,*/
/*.cell {*/
  /*text-align: center;*/
/*}*/

.invitation-promotion.personal .el-input__inner {
  width: 120px;
  height: 30px;
}
.invitation-promotion.personal .el-select-dropdown__item{
  width: 120px !important;
  height: 30px;
}
.invitation-promotion.personal .el-scrollbar{
  width: 120px;
}
.invitation-promotion.personal.night .el-table .cell {
  font-size: 12px;
}
