/* 覆盖Element样式*/
.push-assets .el-form-item__content {
  width: 500px;
}
.push-assets.personal .el-select .el-input__inner,
.push-assets.personal .el-input-group{
  width: 270px;
  height: 36px;
  border-radius: 2px;
  cursor: pointer;
}
.push-assets.personal .el-input__inner {
  height: 36px;
  border-radius: 2px;
}
.push-assets.personal .el-form-item {
  margin-bottom: 25px;
}
.push-assets.personal .el-form-item__label {
  color: #a9bed4;
}
.push-assets.personal .el-table th>.cell {
  text-align: center;
}

.push-assets.personal .el-table .cell {
  text-align: center;
}
.push-assets.personal .el-input-group__append {
  border-left: 0;
  padding: 0px 10px;
  border-radius: 0 2px 2px 0;
}
.push-assets.personal .el-table th.is-leaf {
  border-bottom: 0;
}
.el-table td{
  border-bottom: 0;
}
.push-assets.personal .el-dialog {
  width: 470px;
  top: 10%;
}
.push-assets.personal .el-form--label-top .el-form-item__label {
  padding: 0;
}
.push-assets.personal .el-dialog__body {
  padding: 10px 25px 15px;
}
.push-assets.personal .el-dialog--center {
  text-align: left;
}
