/*覆盖Elenent样式*/
/*表格样式修改*/
.security-center.personal .el-table td{
  padding: 7px 0;
}
.security-center.personal .el-table::before{
  height: 0;
}
/*tabs切换表头padding-left*/
.security-center.personal .el-tabs__header{
  margin: 0;
}
.security-center.personal .el-tabs__nav{
  padding-left: 15px;
}
/*点击切换时背景色和字体颜色*/
.security-center.personal .el-tabs__item{
  padding: 0;
  width: 105px;
  text-align: center;
}
.security-center.personal .el-progress {
  width: 170px;
}
.security-center.personal .el-dialog {
  width: 470px;
  border-radius: 7px;
}
.security-center.personal .el-dialog__header {
  height: 44px;
  padding: 10px 20px 10px;
  border-radius: 7px 7px 0 0;
}
.security-center.personal .el-dialog__title {
  font-size: 18px;
}
.security-center.personal .el-dialog__headerbtn {
  top: 13px;
}
.security-center.personal .el-dialog__body {
  padding: 25px 20px 0;
}
.login-password.personal .el-input__inner {
  height: 36px;
  border-radius: 2px 0 0px 2px;
}
.security-center.personal .el-input-group {
  width: 220px;
  height: 36px;
  border-radius: 4px;
}
