/*覆盖Elenent样式*/
/*表格样式修改*/
.security-center.personal .el-table td{
  padding: 7px 0;
}
.security-center.personal .el-table::before{
  height: 0;
}
/*tabs切换表头padding-left*/
.security-center.personal .el-tabs__header{
  margin: 0;
}
.security-center.personal .el-tabs__nav{
  padding-left: 15px;
}
/*点击切换时背景色和字体颜色*/
.security-center.personal .el-tabs__item{
  padding: 0;
  width: 105px;
  text-align: center;
}
.security-center.personal .el-progress {
  width: 170px;
}
