/*覆盖element样式*/
.billing-details.personal .el-input__inner {
  width: 100px;
  height: 30px;
  border: 0;
}
.billing-details.personal .el-date-editor.el-input {
  width: 120px;
  height: 30px;
}
.billing-details.personal .el-date-editor .el-input__inner {
  width: 120px;
  height: 30px;
}
.billing-details.personal .el-table th>.cell {
  text-align: center;
}
.billing-details.personal .el-table .cell {
  text-align: center;
}
