/*覆盖element样式*/
.withdrawal-address.personal .el-input__inner {
  width: 130px;
  height: 34px;
  border: 0;
}
.withdrawal-address.personal .el-form-item {
  margin-bottom: 33px;
}
.withdrawal-address.personal .el-table--fit{
  padding: 0 25px;
}
.withdrawal-address.personal .el-dialog {
  width: 300px;
  border-radius: 5px;
}
.withdrawal-address.personal .el-dialog__close {
  display: none;
}
.withdrawal-address.personal .el-button:first-child {
  width: 80px;
  height: 35px;
  border: 0;
  line-height: 0;
  /*margin-right: 15px;*/
}
.withdrawal-address.personal .el-dialog__body {
  /*padding: 25px 25px 30px;*/
  color: #fff;
}
.withdrawal-address.personal .el-table td {
  border-bottom: 0;
}
.withdrawal-address.personal .el-table th>.cell {
  font-size: 12px;
}
.withdrawal-address.personal .el-table th:nth-child(4)>.cell{
  text-align: right;
  padding-right: 90px;
}
.withdrawal-address.personal .el-table td:nth-child(4){
  text-align: right;
  padding-right: 75px;
  cursor: pointer;
}
.withdrawal-address.personal .withdrawal-dialog .el-dialog {
  width: 325px;
}
.withdrawal-address.personal .withdrawal-dialog .el-dialog__header {
  height: 40px;
  padding: 0 0 0 25px;
  line-height: 40px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}
.withdrawal-address.personal .withdrawal-dialog .el-dialog__body {
  padding: 0px 25px;
}
.withdrawal-address.personal .withdrawal-dialog .el-form-item {
  margin-bottom: 15px;
}
.withdrawal-address.personal .withdrawal-dialog .el-form-item__label {
  height: 30px;
  line-height: 30px;
}
.withdrawal-address.personal .withdrawal-dialog .el-button {
  width: 275px;
  height: 34px;
}

.withdrawal-address.personal .withdrawal-dialog .el-dialog__footer {
  text-align: center;
}
.withdrawal-address.personal .withdrawal-address-content .withdrawal-address-box .el-form .el-form-item .el-form-item__label {
  width: 120px !important;
}
.withdrawal-address.personal .el-table tr {
  background-color: transparent;
}
