
// 主题颜色
//@primary-color: #338ff5;
//@body-background:#000;
//@background-color-base: #000;
//@selected-color:red;
$mainColor:#338ff5;
$upColor:#d45858;
$downColor:#12967e;
$collectColor:#f5c34a;
$mainNightBgColor:#272b41; // night 主背景色
$mainNightTitleColor:#A9BED4;
$mainContentNightBgColor:#1c1f32; // night 内容背景色
$nightFontColor:#E4EAF4;
$nightSubNavBgColor:#292E42;
$mainDayBgColor:#fff;
$dayMainTitleColor:#333;
$dayFontColor:#646464;
$headerNavFontColor:#8494a6;
