.otc-AD-manage-box.day .el-input__inner{
    background: #fff;
    border: 1px solid rgba(236,241,248,1);
    color: #7D90AC;    
}
.otc-AD-manage-box.day > .otc-AD-manage-content > .AD-manage-main > .manage-main-top > .filtrate-text[data-v-0c55db16]{
    color: #7D90AC;
}
.otc-AD-manage-box.day .manage-main-bottom .el-table{
    background-color: #fff;
    border: 1px solid rgba(236,241,248,1);
    border-radius: 5px;
}
.otc-AD-manage-box.day .manage-main-bottom .el-table thead{
    color: #333333;
  }
.otc-AD-manage-box.day .manage-main-bottom .el-table th{
    background-color: #fff;
    box-shadow: 0px 0px 0px #191E28;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: inset 0px 2px 4px #F3F3F3;
}
.otc-AD-manage-box.day .manage-main-bottom .el-table th.is-leaf:first-of-type{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px solid #262F38;
}
.otc-AD-manage-box.day .manage-main-bottom .el-table th.is-leaf:nth-last-of-type(2){
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px solid #262F38;
}
.otc-AD-manage-box.day .manage-main-bottom .el-table th.is-leaf{
    border-bottom: 1px solid rgba(236,241,248,1);
    border-top: 0px solid #262F38;
}
.otc-AD-manage-box.day .el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: #fff;
  }
