/* 完成订单组件样式重写 */

.otc-completed-order-box.day .completed-order-content .el-table th {
  padding: 5px 0;
}

.otc-completed-order-box.day .completed-order-content .el-table {
  border-collapse: separate !important;
  color: #9da5b3;
  background-color: #fff;
}

.otc-completed-order-box.day .completed-order-content .el-table__empty-text {
  color: #333;
}

.otc-completed-order-box.day .completed-order-content .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #fff;
}

.otc-completed-order-box.day .completed-order-content .el-table__header {
  margin-bottom: 15px;
}

.otc-completed-order-box.day .completed-order-content .el-table th.is-leaf {
  border-top: 1px solid #ecf1f8;
  border-bottom: 1px solid #ecf1f8;
}

.otc-completed-order-box.day .completed-order-content .el-table__body {
  border-collapse: separate !important;
}

.otc-completed-order-box.day .completed-order-content .el-table__expanded-cell {
  border-bottom: 25px solid #fff;
  background-color: #fff;
}

.otc-completed-order-box.day .completed-order-content .el-icon-arrow-right::before {
  content: " ";
}

.otc-completed-order-box.day .completed-order-content .el-table_2_column_9 .el-table__expand-column .is-leaf {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.otc-completed-order-box.day .completed-order-content .el-table th.is-leaf:first-of-type {
  border-left: 1px solid #ecf1f8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.otc-completed-order-box.day .completed-order-content .el-table th.is-leaf:nth-last-of-type(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #ecf1f8;
}

.otc-completed-order-box.day .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type {
  border-left: 1px solid #ecf1f8;
  border-top-left-radius: 5px;
}

.otc-completed-order-box.day .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell {
  border-top: 0 solid #fff;
  border-top-left-radius: 0;
}

.otc-completed-order-box.day .completed-order-content .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1) {
  border-top-right-radius: 5px;
  border-right: 1px solid #ecf1f8;
}

.otc-completed-order-box.day .completed-order-content .el-table--enable-row-transition .el-table__body td:nth-last-of-type(1).el-table__expanded-cell {
  border-top-right-radius: 0;
}

.otc-completed-order-box.day .completed-order-content .el-table--enable-row-transition .el-table__body td:first-of-type.el-table__expanded-cell ::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 1045px;
  border-bottom: 1px solid #ecf1f8;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  content: '';
}

.otc-completed-order-box.day .completed-order-content .el-table--enable-row-transition .el-table__body td {
  border-top: 1px solid #ecf1f8;
}

.el-table td {
  border-bottom: 1px solid #fff;
}

.otc-completed-order-box.day .completed-order-content .el-table__empty-block {
  min-height: 432px;
  border: 1px solid #ecf1f8;
  background-color: #fff;
}
