.otc-report-form-statistics-box.day .report-form-filtrate .el-input__inner {
  border: 1px solid rgba(236, 241, 248, 1);
  border-radius: 2px;
  background-color: #fff;
}

.otc-report-form-statistics-box.day .date .radio-date .el-radio__input.is-checked + .el-radio__label {
  color: #338ff5;
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-asset[data-v-e69a84f0] {
  margin-top: 20px;
  border: 1px solid rgba(38, 47, 56, .1);
  border-radius: 0;
  background-color: #fff;
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-asset > .content[data-v-e69a84f0] {
  border: 0 solid rgba(38, 47, 56, .1);
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-asset > .title[data-v-e69a84f0] {
  border: none;
  border-bottom: 1px solid rgba(38, 47, 56, .1);
  box-shadow: 0 0 0 #191e28;
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-buy-sell > .common[data-v-e69a84f0] {
  background-color: #fff;
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-buy-sell > .common > .body[data-v-e69a84f0] {
  border: 1px solid rgba(38, 47, 56, .1);
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-buy-sell > .common > .head[data-v-e69a84f0] {
  border: 1px solid rgba(38, 47, 56, .1);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset 0 2px 4px rgba(236, 241, 248, 1);
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-buy-sell > .common > .body > .together[data-v-e69a84f0] {
  border: 1px solid rgba(38, 47, 56, .1);
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-buy-sell > .common > .body > .together > .left > .round[data-v-e69a84f0] {
  background-color: rgba(212, 88, 88, .15);
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-buy-sell > .sell > .body .together > .left > .round[data-v-e69a84f0] {
  background: rgba(84, 189, 116, .15);
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-details[data-v-e69a84f0] {
  border: 1px solid rgba(38, 47, 56, .1);
  border-top: 0 solid #000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #fff;
}

.otc-report-form-statistics-box.day .border-radius5 {
  border-radius: 0;
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-details > .title[data-v-e69a84f0] {
  border: 1px solid rgba(38, 47, 56, .1);
  border-left: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 0 0 #191e28;
  border-right: none;
}

.otc-report-form-statistics-box.day .date .select-date .el-input__inner {
  border: 1px solid rgba(38, 47, 56, .1);
  background-color: #fff;
}

.otc-report-form-statistics-box.day .date .radio-date .el-radio__label {
  color: #7d90ac;
}

.otc-report-form-statistics-box.day .date .radio-date .el-radio__inner {
  border: 1px solid rgba(38, 47, 56, .1);
  background-color: #fff;
}

.otc-report-form-statistics-box.day .el-radio__input.is-checked .el-radio__inner {
  border-color: rgb(64, 158, 255);
  background: #fff;
}

.otc-report-form-statistics-box.day .order-table .el-table {
  background-color: #fff;
}

.otc-report-form-statistics-box.day .order-table .el-table th.is-leaf {
  border-bottom: 0 solid #262f38;
}

.otc-report-form-statistics-box.day .order-table .el-table th {
  color: #999;
  background-color: #fff;
}

.otc-report-form-statistics-box.day > .report-form-statistics-content > .report-form-filtrate > .filtrate-text[data-v-e69a84f0] {
  color: #7d90ac;
}

.otc-report-form-statistics-box.day .el-input__inner {
  color: #7d90ac;
}

.otc-report-form-statistics-box.day .nav-box > .inner-box > .bottom[data-v-346cd49c] {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(3, 14, 32, .1);
}

.otc-report-form-statistics-box.day .nav-box > .inner-box > .top > .left > .nav-list > .nav-item > .sub-nav-list[data-v-346cd49c] {
  background-color: #fff;
}

.otc-report-form-statistics-box.day .nav-box > .inner-box > .top > .left > .nav-list > .nav-item > .sub-nav-list[data-v-346cd49c]::before {
  border-bottom-color: #fff;
}

.otc-report-form-statistics-box.day .nav-box > .inner-box > .top > .left > .nav-list > .nav-item > .sub-nav-list > .sub-nav-item > a[data-v-346cd49c] {
  color: #000;
}

.otc-report-form-statistics-box.day .nav-box > .inner-box > .top > .left > .nav-list > .nav-item > .sub-nav-list > .sub-nav-item[data-v-346cd49c]:hover {
  background-color: #fff;
}

.otc-report-form-statistics-box.day .nav-box > .inner-box > .top > .left > .nav-list > .nav-item > .sub-nav-list > .sub-nav-item[data-v-346cd49c]:hover > a {
  color: #338ff5;
}

.otc-report-form-statistics-box.day .date .radio-date .el-radio__inner::after {
  background-color: #338ff5;
}
